

.myPagination /deep/ ul{       
    padding-inline-start: 0px;
 
 }
 
 .myPagination /deep/ .ngx-pagination .current {
     position: relative;
     padding: 0.5rem 0.75rem;
     margin-left: -1px;
     line-height: 1.25;
     z-index: 1;
     color: #fff;
     background-color: #20a8d8;
     border: 1px solid;
     border-color: #20a8d8;
     border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
   }
 
 
 
   
   .myPagination /deep/ .ngx-pagination .pagination-next a::after, .myPagination /deep/ .ngx-pagination .pagination-next.disabled::after {
     content: '---->';
     display: inline-block;
     margin-left: 0.0rem;
   }
   
   .myPagination /deep/ .ngx-pagination .pagination-previous a::before, .myPagination /deep/ .ngx-pagination .pagination-previous.disabled::before {
     content: '<----';
     display: inline-block;
     margin-right: 0.0rem;
   }
   
 
 
 
   .myPagination /deep/ .ngx-pagination a{
     position: relative;
     padding: 0.5rem 0.75rem;
     margin-left: -1px;
     line-height: 1.25;
     color: #20a8d8;
     background-color: #fff;
     border: 1px solid #c8ced3;
     border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
   }
 
 
 
   .myPagination /deep/ .ngx-pagination a:focus{
     position: relative;
     padding: 0.5rem 0.75rem;
     margin-left: -1px;
     line-height: 1.25;
     color: #20a8d8;
     background-color: #fff;
     border: 1px solid #c8ced3;
     border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
     outline: 0;
     box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25); 
   }
 
 
   .myPagination /deep/ .ngx-pagination a:hover{
     position: relative;
     padding: 0.5rem 0.75rem;
     margin-left: -1px;
     line-height: 1.25;
     border: 1px solid #c8ced3;
     border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
     color: #167495;
     text-decoration: none;
     background-color: #e4e7ea;
   }
     
   .myPagination /deep/ .ngx-pagination .disabled{
     position: relative;
     padding: 0.5rem 0.75rem;
     margin-left: -1px;
     line-height: 1.25;
     color: #20a8d8;
     background-color: #fff;
     border: 1px solid #c8ced3;
     border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
   }