<div class="row">
  <div class="col-sm-12 ">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> ASESORIAS DEFINIDAS
        <small>PAAE</small>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" (click)="individual()" href="#">REPORTE DE SESIONES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="grupal()" href="#">CARTA COMPROMISO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="satisfaccion()" href="#">LISTA DE ASISTENCIA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="final()" href="#">REPORTE FINAL</a>
          </li>
        </ul>
        <br><br>
        <div *ngIf="visindividual">
            <div>
                <nav>
                  <!-- <button type="button" class="btn btn-primary" (click)="leerExcel()">Leer Excel</button> -->
                  <ul class="pagination pull-right float-sm-right">
                    <li class="page-item {{select1}}"><a class="page-link" style="cursor: pointer"
                        (click)="mostrarRegistros('2')">2</a></li>
                    <li class="page-item {{select2}}"><a class="page-link" style="cursor: pointer"
                        (click)="mostrarRegistros('5')">5</a></li>
                    <li class="page-item {{select3}}"><a class="page-link" style="cursor: pointer"
                        (click)="mostrarRegistros('10')">10</a></li>
                    <li class="page-item {{select4}}"><a class="page-link" style="cursor: pointer"
                        (click)="mostrarRegistros('todos')">Mostrar todos</a></li>
                  </ul>
                </nav>
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="row">#</th>
                      <th>MATERIA</th>
                      <th>SESION</th>
                      <th>FECHA</th>
                      <th>ASISTENTES</th>
                      <th>HORA INICIO</th>
                      <th>HORA FIN</th>
                      <th>TEMA</th>
                      <th>ACTIVIDADES U OBSERVACIONES</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let asesor of sesiona | paginate: {itemsPerPage: registrosPagina, currentPage:pageActual, id: 'first' } let i = index">
                      <td>{{i+1}}</td>
                      <td>{{asesor.MATERIA}}</td>
                      <td>{{asesor.SESION}}</td>
                      <td>{{asesor.FECHA}}</td>
                      <td>{{asesor.ASISTENTES}}</td>
                      <td>{{asesor.HORAINICIO}}</td>
                      <td>{{asesor.HORAFINAL}}</td>
                      <td>{{asesor.TEMA}}</td>
                      <td>{{asesor.ACTIVIDADES_OBSERVACIONES}}</td>
                    </tr>
                  </tbody>
                </table>
              
                <!--   "MATERIA": "QUIMICA",
"SESION": "1",
"FECHA": "2019-01-02",
"ASISTENTES": "1",
"HORAINICIO": "7:00",
"HORAFINAL": "8:00",
"TEMA": "NO",
"ACTIVIDADES_OBSERVACIONES": "NO"-->
              
                <div class="d-flex justify-content-center">
                  <pagination-controls id="first" class="myPagination" previousLabel="" nextLabel="" maxSize="10"
                    (pageChange)="pageActual = $event">
                  </pagination-controls>
                </div>
              </div>
          <div class="app-body">
            <main class="main d-flex align-items-center">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 mx-auto">
                    <div align="center">
                      <h2>REPORTE DE SESIONES</h2>
                    </div>
                    <div class="card-group">
                      <div class="card p-3">
                        <div class="card-body">
                          <form #grupalForm=ngForm>
                            <div class="input-group mb-3">
                              <h5></h5>
                            </div>
                            <div class="input-group mb-3">
                              <h5>DATOS DE IDENTIFICACIÓN</h5>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <select class="form-control" type="text" name="materia" [(ngModel)]="form.materia">
                                <option value='0' disabled>NOMBRE DE LA MATERIA</option>
                                <option *ngFor="let mat of asesores" [ngValue]="mat.MATERIA">{{mat.MATERIA}}</option>
                              </select>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="name" class="form-control" placeholder="name" id="name"
                                autocomplete="name" [disabled]="true" [(ngModel)]="form.name" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="carrera" class="form-control" placeholder="carrera" id="carrera"
                                autocomplete="carrera" [disabled]="true" [(ngModel)]="form.carrera" required>
                            </div>
                            <div class="input-group mb-3" *ngIf="!habilitarMaterias">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="control" class="form-control" placeholder="Numero de comtrol"
                                id="control" autocomplete="control" [disabled]="true" [(ngModel)]="form.control"
                                required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="semestre" class="form-control" placeholder="semestre"
                                id="semestre" autocomplete="semestre" [disabled]="true" [(ngModel)]="form.semestre"
                                required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <select class="form-control" type="text" name="sesion" [(ngModel)]="form.sesion"
                                [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                <option value='0' disabled>NO. DE SESION</option>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                                <option value='5'>5</option>
                                <option value='6'>6</option>
                                <option value='7'>7</option>
                                <option value='8'>8</option>
                                <option value='9'>9</option>
                                <option value='10'>10</option>
                                <option value='11'>11</option>
                                <option value='12'>12</option>
                                <option value='13'>13</option>
                                <option value='14'>14</option>
                                <option value='15'>15</option>
                                <option value='16'>16</option>
                                <option value='17'>17</option>
                                <option value='18'>18</option>
                                <option value='19'>19</option>
                                <option value='20'>20</option>
                                <option value='21'>21</option>
                                <option value='22'>22</option>
                                <option value='23'>23</option>
                                <option value='24'>24</option>
                                <option value='25'>25</option>
                                <option value='26'>26</option>
                                <option value='27'>27</option>
                                <option value='28'>28</option>
                                <option value='29'>29</option>
                                <option value='30'>30</option>
                                <option value='31'>31</option>
                                <option value='32'>32</option>
                              </select>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="date" class="form-control" name='fecha' [(ngModel)]="form.fecha" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <select class="form-control" type="text" name="asistentes" [(ngModel)]="form.asistentes"
                                [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                <option value='0' disabled>NO. DE ASISTENTES</option>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                                <option value='5'>5</option>
                                <option value='6'>6</option>
                                <option value='7'>7</option>
                                <option value='8'>8</option>
                                <option value='9'>9</option>
                                <option value='10'>10</option>
                                <option value='11'>11</option>
                                <option value='12'>12</option>
                                <option value='13'>13</option>
                                <option value='14'>14</option>
                                <option value='15'>15</option>
                                <option value='16'>16</option>
                                <option value='17'>17</option>
                                <option value='18'>18</option>
                                <option value='19'>19</option>
                                <option value='20'>20</option>
                                <option value='21'>21</option>
                                <option value='22'>22</option>
                                <option value='23'>23</option>
                                <option value='24'>24</option>
                                <option value='25'>25</option>
                                <option value='26'>26</option>
                                <option value='27'>27</option>
                                <option value='28'>28</option>
                                <option value='29'>29</option>
                                <option value='30'>30</option>
                                <option value='31'>31</option>
                                <option value='32'>32</option>
                                <option value='33'>33</option>
                                <option value='34'>34</option>
                                <option value='35'>35</option>
                                <option value='36'>36</option>
                                <option value='37'>37</option>
                                <option value='38'>38</option>
                                <option value='39'>39</option>
                                <option value='40'>40</option>
                                <option value='41'>41</option>
                                <option value='42'>42</option>
                                <option value='43'>43</option>
                                <option value='44'>44</option>
                                <option value='45'>45</option>
                                <option value='46'>46</option>
                                <option value='47'>47</option>
                                <option value='48'>48</option>
                                <option value='49'>49</option>
                                <option value='50'>50</option>
                              </select>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <select class="form-control" type="text" name="horainicio" [(ngModel)]="form.horainicio"
                                [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                <option value='0' disabled>HORA INICIO</option>
                                <option value='7:00'>7:00</option>
                                <option value='8:45'>8:45</option>
                                <option value='10:30'>10:30</option>
                                <option value='12:15'>12:15</option>
                                <option value='14:05'>14:05</option>
                                <option value='15:50'>15:50</option>
                                <option value='17:35'>17:35</option>
                                <option value='19:20'>19:20</option>
                              </select>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <select class="form-control" type="text" name="horafinal" [(ngModel)]="form.horafinal"
                                [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                <option value='0' disabled>HORA FIN</option>
                                <option value='8:40'>8:40</option>
                                <option value='10:25'>10:25</option>
                                <option value='12:10'>12:10</option>
                                <option value='13:55'>13:55</option>
                                <option value='15:45'>15:45</option>
                                <option value='17:30'>17:30</option>
                                <option value='19:15'>19:15</option>
                                <option value='21:00'>21:00</option>
                              </select>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="tema" class="form-control" placeholder="TEMA" id="tema"
                                autocomplete="tema" [disabled]="false" [(ngModel)]="form.tema" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="actividades" class="form-control"
                                placeholder="ACTIVIDADES/OBSERVACIONES" id="actividades" autocomplete="actividades"
                                [disabled]="false" [(ngModel)]="form.actividades" required>
                            </div>
                            <div class="row">
                              <div class="col-6">
                                <button (click)=saveSesion() class="btn btn-primary px-4"
                                  [disabled]="!grupalForm.valid">Registrar</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
        <div *ngIf="visgrupal">
          <div class="app-body">
            <main class="main d-flex align-items-center">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 mx-auto">
                    <div align="center">
                      <h2>CARTA COMPROMISO</h2>
                    </div>
                    <div class="card-group">
                      <div class="card p-3">
                        <div class="card-body">
                          <H5>DEPARTAMENTO DE DESARROLLO ACADÉMICO
                            PROGRAMA DE ASESORÍA ACADÉMICA ENTRE ESTUDIANTES</H5>

                          <H5>CARTA COMPROMISO
                            ALUMNO (A) ASESOR</H5>


                          <P>Hago constar que tengo conocimiento de formar parte del Programa Red de Asesoría Académica
                            Alumno-Alumno participando como ASESOR, con lo cual asumo los siguientes DERECHOS Y
                            OBLIGACIONES.
                            <br>
                            Derechos:
                            <br>
                            • Recibir el apoyo establecido con el Responsable del Programa
                            <br>
                            • Realizar el trámite correspondiente para hacer valido el apoyo establecido, una vez
                            terminado el periodo acordado de servicio como Asesor
                            <br>
                            • Ser tratado de manera respetuosa y amable
                            <br>
                            • Exponer inquietudes, dudas o sugerencias
                            <br>
                            • Reportar al Responsable del Proyecto, cualquier situación que impida cumplir con la
                            asesoría
                            <br>
                            Obligaciones:
                            <br>
                            • Cumplir con el horario asignado
                            <br>
                            • Preparar las sesiones de asesoría en contenido, ejercicios, etc.
                            <br>
                            • Permanecer en el aula durante el horario acordado; independientemente de la asistencia de
                            los alumnos.
                            <br>
                            • Impartir la asesoría de la materia asignada, acorde al programa de estudios del
                            Tecnológico
                            <br>
                            • Tomar asistencia de los alumnos inscritos, así como anotar las observaciones pertinentes a
                            cada uno
                            <br>
                            • Atender en el horario establecido a los alumnos asignados
                            <br>
                            • Elaborar un plan de acción de acuerdo a la necesidades de los alumnos a asesorar
                            <br>
                            • Brindar un mínimo de tres horas a la semana de asesoría.
                            <br>
                            • Proporcionar la asesoría de manera presencial y dentro del Tecnológico
                            <br>
                            • Atender al menos tres compañeros de manera permanente durante la vigencia del proyecto
                            <br>
                            • Asistir a las reuniones que se establezcan por la Coordinación del Programa
                            <br>
                            • Elaborar y entregar reportes cuando se solicite en las fechas establecidas, así como un
                            reporte final.
                            <br>
                            • Avisar con anticipación a la Coordinación cuando se realicen actividades fuera del aula
                            asignada
                            <br>
                            • Solicitar con anticipación al responsable del programa, el equipo necesario para la
                            asesoría
                            <br>
                            • Cuidar el equipo solicitado y devolverlo al término de la asesoría
                            <br>
                            • Aplicar exámenes acordes a la situación de cada alumno</P>

                          <div align="center">
                            <H5>ATENTAMENTE</H5>
                            {{form.name}}
                            <div class="col-md-8">
                              <br>
                              <button (click)=cartAsesor() class="btn btn-primary px-4">ACEPTO</button>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
        <div *ngIf="visatisfaccion">
          <div class="app-body">
            <main class="main d-flex align-items-center">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 mx-auto">
                    <div align="center">
                      <h2>LISTA DE ASISTENCIA</h2>
                    </div>
                    <div class="card-group">
                      <div class="card p-3">
                        <div class="card-body">
                          <form #grupalForm=ngForm>
                            <div class="input-group mb-3">
                              <h5></h5>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <select class="form-control" type="text" name="materialis" (change)="traeAlumno()"
                                [(ngModel)]="form.materialis">
                                <option value='0' disabled>NOMBRE DE LA MATERIA</option>
                                <option *ngFor="let mat of asesores" [ngValue]="mat.MATERIA">{{mat.MATERIA}}</option>
                              </select>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="namelis" class="form-control" placeholder="namelis" id="namelis"
                                autocomplete="name" [disabled]="true" [(ngModel)]="form.namelis" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="carreralis" class="form-control" placeholder="carreralis"
                                id="carreralis" autocomplete="carreralis" [disabled]="true"
                                [(ngModel)]="form.carreralis" required>
                            </div>
                            <div class="input-group mb-3" *ngIf="!habilitarMaterias">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="controllis" class="form-control" placeholder="Numero de comtrol"
                                id="controllis" autocomplete="controllis" [disabled]="true"
                                [(ngModel)]="form.controllis" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="semestrelis" class="form-control" placeholder="semestrelis"
                                id="semestrelis" autocomplete="semestrelis" [disabled]="true"
                                [(ngModel)]="form.semestrelis" required>
                            </div>
                            <div class="input-group mb-3">
                              <h5>FECHA</h5>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="date" class="form-control" name='fechalis' [(ngModel)]="form.fechalis"
                                required>
                            </div>
                            <table class="table table-bordered table-striped table-sm">
                              <thead>
                                <tr>
                                  <th scope="row">#</th>
                                  <th>NOMBRE</th>
                                  <th>ASISTIO</th>
                                </tr>
                              </thead>
                              <tbody *ngFor="let asesor of alumnos let i = index">
                                <tr>
                                  <td>{{i+1}}</td>
                                  <td>{{asesor.name}} {{asesor.PRIMER_APELLIDO}} {{asesor.SEGUNDO_APELLIDO}}</td>
                                  <td>

                                    <button class="btn btn-brand btn-sm btn-spotify" style="margin-bottom: 4px"
                                      type="button" data-toggle="modal" (click)="idalumno(asesor.PK_USUARIO)"><i
                                        class="fa fa-clock-o"></i></button>
                                    PRESENTE
                                    <br>
                                    <button class="btn btn-brand btn-sm btn-youtube" style="margin-bottom: 4px"
                                      type="button" data-toggle="modal" (click)="idalumno1(asesor.PK_USUARIO)"><i
                                        class="cui-info"></i></button>
                                    AUSENTE
                                    <!-- <div class="form-check">
                                      <input class="form-check-input" type="checkbox" id="checkbox1"
                                        (change)="idalumno(asesor.PK_USUARIO)" name="asistio"
                                        [(ngModel)]="form.asistio1">
                                      <label class="form-check-label" for="checkbox1">
                                        PRESENTE
                                      </label>
                                      <br>
                                      <input class="form-check-input" type="checkbox" id="checkbox1"
                                        (change)="idalumno1(asesor.PK_USUARIO)" name="asistio"
                                        [(ngModel)]="form.asistio2">
                                      <label class="form-check-label" for="checkbox1">
                                        AUSENTE
                                      </label>
                                    </div> -->
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- <div class="row">
                              <div class="col-6">
                                <button (click)=lista() class="btn btn-primary px-4"
                                  [disabled]="!grupalForm.valid">Registrar</button>
                              </div>
                            </div> -->
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
        <div *ngIf="visfinal">
          <h1>REPORTE FINAL</h1>
          <div class="app-body">
            <main class="main d-flex align-items-center">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 mx-auto">
                    <div align="center">
                      <h2>REPORTE FINAL</h2>
                    </div>
                    <div class="card-group">
                      <div class="card p-3">
                        <div class="card-body">
                          <form #grupalForm=ngForm>
                            <div class="input-group mb-3">
                              <h5>I. DATOS DE IDENTIFICACIÓN</h5>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <select class="form-control" type="text" name="materiafin" (change)="traeSesion()"
                                [(ngModel)]="form.materiafin">
                                <option value='0' disabled>NOMBRE DE LA MATERIA</option>
                                <option *ngFor="let mat of asesores" [ngValue]="mat.MATERIA">{{mat.MATERIA}}</option>
                              </select>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="namefin" class="form-control" placeholder="namefin" id="namefin"
                                autocomplete="name" [disabled]="true" [(ngModel)]="form.namefin" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="carrerafin" class="form-control" placeholder="carrerafin"
                                id="carrerafin" autocomplete="carrerafin" [disabled]="true"
                                [(ngModel)]="form.carrerafin" required>
                            </div>
                            <div class="input-group mb-3" *ngIf="!habilitarMaterias">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="controlfin" class="form-control" placeholder="Numero de comtrol"
                                id="controlfin" autocomplete="controlfin" [disabled]="true"
                                [(ngModel)]="form.controlfin" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="semestrefin" class="form-control" placeholder="semestrefin"
                                id="semestrefin" autocomplete="semestrefin" [disabled]="true"
                                [(ngModel)]="form.semestrefin" required>
                            </div>
                            <div class="input-group mb-3">
                              <h5>FECHA DE ENTREGA</h5>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="date" class="form-control" name='fechafin' [(ngModel)]="form.fechafin"
                                required>
                            </div>
                            <div class="input-group mb-3">
                              <h5>FECHA DE INICIO Y TERMINO</h5>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="date" class="form-control" name='fechafin1' [(ngModel)]="form.fechafin1"
                                required>
                              <input type="date" class="form-control" name='fechafin2' [(ngModel)]="form.fechafin2"
                                required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="lugar" class="form-control"
                                placeholder="Lugar y hora de la asesoria" id="lugar" autocomplete="name"
                                [(ngModel)]="form.lugar" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <select class="form-control" type="text" name="asesorados" [(ngModel)]="form.asesorados"
                                [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                <option value='0' disabled>TOTAL DE ASESORADOS</option>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                                <option value='5'>5</option>
                                <option value='6'>6</option>
                                <option value='7'>7</option>
                                <option value='8'>8</option>
                                <option value='9'>9</option>
                                <option value='10'>10</option>
                                <option value='11'>11</option>
                                <option value='12'>12</option>
                                <option value='13'>13</option>
                                <option value='14'>14</option>
                                <option value='15'>15</option>
                                <option value='16'>16</option>
                                <option value='17'>17</option>
                                <option value='18'>18</option>
                                <option value='19'>19</option>
                                <option value='20'>20</option>
                                <option value='21'>21</option>
                                <option value='22'>22</option>
                                <option value='23'>23</option>
                                <option value='24'>24</option>
                                <option value='25'>25</option>
                                <option value='26'>26</option>
                                <option value='27'>27</option>
                                <option value='28'>28</option>
                                <option value='29'>29</option>
                                <option value='30'>30</option>
                                <option value='31'>31</option>
                                <option value='32'>32</option>
                                <option value='33'>33</option>
                                <option value='34'>34</option>
                                <option value='35'>35</option>
                                <option value='36'>36</option>
                                <option value='37'>37</option>
                                <option value='38'>38</option>
                                <option value='39'>39</option>
                                <option value='40'>40</option>
                                <option value='41'>41</option>
                                <option value='42'>42</option>
                                <option value='43'>43</option>
                                <option value='44'>44</option>
                                <option value='45'>45</option>
                                <option value='46'>46</option>
                                <option value='47'>47</option>
                                <option value='48'>48</option>
                                <option value='49'>49</option>
                                <option value='50'>50</option>
                              </select>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <select class="form-control" type="text" name="sesionfin" [(ngModel)]="form.sesionfin">
                                <option value='0' disabled>TOTAL DE SESIONES</option>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                                <option value='5'>5</option>
                                <option value='6'>6</option>
                                <option value='7'>7</option>
                                <option value='8'>8</option>
                                <option value='9'>9</option>
                                <option value='10'>10</option>
                                <option value='11'>11</option>
                                <option value='12'>12</option>
                                <option value='13'>13</option>
                                <option value='14'>14</option>
                                <option value='15'>15</option>
                                <option value='16'>16</option>
                                <option value='17'>17</option>
                                <option value='18'>18</option>
                                <option value='19'>19</option>
                                <option value='20'>20</option>
                                <option value='21'>21</option>
                                <option value='22'>22</option>
                                <option value='23'>23</option>
                                <option value='24'>24</option>
                                <option value='25'>25</option>
                                <option value='26'>26</option>
                                <option value='27'>27</option>
                                <option value='28'>28</option>
                                <option value='29'>29</option>
                                <option value='30'>30</option>
                                <option value='31'>31</option>
                                <option value='32'>32</option>
                              </select>
                            </div>
                            <div class="input-group mb-3">
                              <h5>II. INFORMACIÓN DE LAS SESIONES</h5>
                            </div>


                            <table class="table table-bordered table-striped table-sm">
                              <thead>
                                <tr>
                                  <th scope="row">#</th>
                                  <th>FECHA</th>
                                  <th>TEMA</th>
                                </tr>
                              </thead>
                              <tbody *ngFor="let sesion of sesiones let i = index">
                                <tr>
                                  <td>{{i+1}}</td>
                                  <td>{{sesion.FECHA}}</td>
                                  <td>{{sesion.TEMA}}</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="input-group mb-3">
                              <h5>III. DATOS DE ESTUDIATES ASESORADOS (AS)</h5>
                            </div>


                            <table class="table table-bordered table-striped table-sm">
                              <thead>
                                <tr>
                                  <th scope="row">#</th>
                                  <th>CARRERA</th>
                                  <th>NO. CONTROL</th>
                                  <th>NOMBRE</th>
                                </tr>
                              </thead>
                              <tbody *ngFor="let sesion of alumnos let i = index">
                                <tr>
                                  <td>{{i+1}}</td>
                                  <td>{{sesion.CLAVE_CARRERA}}</td>
                                  <td>{{sesion.NUMERO_CONTROL}}</td>
                                  <td>{{sesion.name}} {{sesion.PRIMER_APELLIDO}} {{sesion.SEGUNDO_APELLIDO}}</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="input-group mb-3">
                                <h5>OBSERVACIONES Y SUGERENCIAS</h5>
                              </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="OBSERVACIONES Y SUGERENCIAS" name='sugerenciafin' [(ngModel)]="form.sugerenciafin"
                                  required>
                              </div>
                            <div class="row">
                                <div class="col-6">
                                  <button (click)=creaFinal() class="btn btn-primary px-4"
                                    [disabled]="!grupalForm.valid">Registrar</button>
                                </div>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
