<div class="row">
  <div class="col-sm-12 ">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> FORMATOS ASESOR
        <small>PAAE</small>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" (click)="individual()" href="#">ENTREVISTA MOTIVOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="grupal()" href="#">CARTA COMPROMISO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="satisfaccion()" href="#">EVALUACION DE SATISFACCION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="calificacion()" href="#">CALIFICACIONES PARCIALES</a>
          </li>
        </ul>
        <br><br>
        <div *ngIf="visindividual">
          <h1>GRUPAL</h1>
          <div class="app-body">
            <main class="main d-flex align-items-center">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 mx-auto">
                    <div align="center">
                      <h2>GUÍA DE ENTREVISTA ESTUDIANTES ASESORADOS (AS)</h2>
                    </div>
                    <div class="card-group">
                      <div class="card p-3">
                        <div class="card-body">
                          <form #grupalForm=ngForm>
                            <div class="input-group mb-3">
                              <h5></h5>
                            </div>
                            <div class="input-group mb-3">
                              <h5>DATOS PERSONALES</h5>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="name" class="form-control" placeholder="name" id="name"
                                autocomplete="" [disabled]="true" [(ngModel)]="form.name" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                                <!--  (ngModelChange)="addclave()" -->
                              </div>
                              <select class="form-control" type="text" name="clavegrupo" [(ngModel)]="form.edad"
                                [disabled]="habilitarHoraMartes" [hidden]="habilitarHoraMartes">
                                <option value='0' disabled>EDAD</option>
                                <option value='17'>17</option>
                                <option value='18'>18</option>
                                <option value='19'>19</option>
                                <option value='20'>20</option>
                                <option value='21'>21</option>
                                <option value='22'>22</option>
                                <option value='23'>23</option>
                                <option value='24'>24</option>
                                <option value='25'>25</option>
                                <option value='26'>26</option>
                                <option value='27'>27</option>
                                <option *ngFor="let cla of clave" value="{{cla.clavegrupo}}">{{cla.clavegrupo}}</option>
                              </select>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="sexo" class="form-control" placeholder="sexo" id="sexo"
                                autocomplete="sexo" [disabled]="true" [(ngModel)]="form.sexo" required>
                            </div>

                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="residencia" class="form-control"
                                placeholder="Lugar de Residencia" id="residencia" autocomplete="residencia"
                                [disabled]="false" [(ngModel)]="form.residencia" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="carrera" class="form-control" placeholder="carrera" id="carrera"
                                autocomplete="carrera" [disabled]="true" [(ngModel)]="form.carrera" required>
                            </div>
                            <div class="input-group mb-3" *ngIf="!habilitarMaterias">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="control" class="form-control" placeholder="Numero de comtrol"
                                id="control" autocomplete="control" [disabled]="true" [(ngModel)]="form.control"
                                required>
                            </div>
                            <div class="input-group mb-3" *ngIf="!habilitarMaterias">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <select class="form-control" type="text" name="turno" [(ngModel)]="form.turno"
                                [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                <option value='0' disabled>TURNO</option>
                                <option value='MATUTINO'>MATUTINO</option>
                                <option value='VESPERTINO'>VESPERTINO</option>
                              </select>
                            </div>
                            <div class="input-group mb-3" *ngIf="!habilitarMaterias">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="email" class="form-control" placeholder="email" id="email"
                                autocomplete="email" [disabled]="true" [(ngModel)]="form.email" required>
                            </div>
                            <div class="input-group mb-3" *ngIf="!habilitarMaterias">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <select class="form-control" type="text" name="materiasall" [(ngModel)]="form.materiasAll"
                                [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                <option value='0' disabled>MATERIA SOLICITADA EN APOYO</option>
                                <option *ngFor="let mat of materias" [ngValue]="mat.Nombre">{{mat.Nombre}}</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <select type="text" class="form-control" name="campus" [(ngModel)]="form.maestro"
                                  [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                  <option value='0' disabled>MAESTRO QUE IMPARTE LA MATERIA</option>
                                  <option *ngFor="let doc of docentes"
                                    [ngValue]="doc.Nombre+' '+doc.ApellidoPaterno+' '+doc.ApellidoMaterno">
                                    {{doc.Nombre+' '+doc.ApellidoPaterno+' '+doc.ApellidoMaterno}}</option>
                                </select>
                              </div>
                            </div>
                            <!-- <div class="input-group mb-3" *ngIf="!habilitarMaterias">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <select class="form-control" type="text" name="materias1all"
                                [(ngModel)]="form.materias1All" [disabled]="habilitarMaterias"
                                [hidden]="habilitarMaterias">
                                <option value='0' disabled>MATERIA SOLICITADA EN APOYO</option>
                                <option *ngFor="let mat of materias" [ngValue]="mat.Nombre">{{mat.Nombre}}</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <select type="text" class="form-control" name="campus" [(ngModel)]="form.maestro1"
                                  [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                  <option value='0' disabled>MAESTRO QUE IMPARTE LA MATERIA</option>
                                  <option *ngFor="let doc of docentes"
                                    [ngValue]="doc.Nombre+' '+doc.ApellidoPaterno+' '+doc.ApellidoMaterno">
                                    {{doc.Nombre+' '+doc.ApellidoPaterno+' '+doc.ApellidoMaterno}}</option>
                                </select>
                              </div>
                            </div> -->
                            <!-- 
                            <div class="input-group mb-3" *ngIf="!habilitarMaterias">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                                <select type="text" name="campus" [(ngModel)]="form.maestro"
                                  [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                  <option value='0' disabled>MAESTRO QUE IMPARTE LA MATERIA</option>
                                  <option *ngFor="let doc of docentes"
                                    [ngValue]="doc.Nombre+''+doc.ApellidoPaterno+''+doc.ApellidoMaterno">
                                    {{doc.Nombre+' '+doc.ApellidoPaterno+' '+doc.ApellidoMaterno}}</option>
                                </select>
                              </div>
                            </div> -->
                            <!--   <div class="form-group">
                                  <label for="">Fecha final:</label>
                                  <label style="color:#ff0000;" for="asterisco">*</label>                  
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                  </div>      <select [(ngModel)]="genero" class="form-control" name="genero">
                                      <option [value]=0>Selecciona</option>
                                      <option [value]=1>Masculino</option>
                                      <option [value]=2>Femenino</option>
                                    </select>
                              </div>
                            </div> -->

                            <div class="input-group mb-3">

                              <h4>Diagnóstico de solicitud de asesoría.</h4>
                              <h5>
                                Con el objeto de detectar áreas de oportunidad que apoyen la mejora continua del Proceso
                                enseñanza-aprendizaje, solicitamos contestes la siguiente encuesta.
                                <br>
                                <br>
                                Tacha el o los incisos que expresen el motivo por el cual solicitas apoyo de asesoría
                                académica.
                              </h5>
                            </div>
                            <div class="col-md-16 col-form-label">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox1" (change)="di()"
                                  name="inciso" [(ngModel)]="form.inciso">
                                <label class="form-check-label" for="checkbox1">
                                  A) Se me dificulta estudiar la materia
                                </label>
                              </div>
                              <br>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option1" id="checkbox2"
                                  (change)="di()" name="inciso1" [(ngModel)]="form.inciso1">
                                <label class="form-check-label" for="checkbox2">
                                  B) Presento deficiencias en los conocimientos previos
                                </label>
                              </div>
                              <br>
                              <div class="form-check checkbox">
                                <input class="form-check-input" type="checkbox" value="option1" id="checkbox3"
                                  (change)="di()" name="inciso2" [(ngModel)]="form.inciso2">
                                <label class="form-check-label" for="checkbox3">
                                  C) Para subir mis calificaciones
                                </label>
                              </div>
                              <br>
                              <div class="form-check checkbox">
                                <input class="form-check-input" type="checkbox" value="option1" id="checkbox3"
                                  (change)="di()" name="inciso3" [(ngModel)]="form.inciso3">
                                <label class="form-check-label" for="checkbox3">
                                  D) Estoy en repetición o especial
                                </label>
                              </div>
                              <!-- <div class="form-check checkbox">
                                <input class="form-check-input" type="checkbox" value="option1" id="checkbox3"
                                  (change)="di()" name="inciso4" [(ngModel)]="form.inciso4">
                                <label class="form-check-label" for="checkbox3">
                                  E) Considero que tengo deficiencias académicas desde preparatoria

                                </label>
                              </div> -->
                              <br>
                              <div class="form-check checkbox">
                                <input class="form-check-input" type="checkbox" value="option1" id="checkbox3"
                                  (change)="di()" name="inciso5" [(ngModel)]="form.inciso5">
                                <label class="form-check-label" for="checkbox3">
                                  E) Me falta tiempo para estudiar
                                </label>
                              </div>
                              <br>
                              <div class="form-check checkbox">
                                <input class="form-check-input" type="checkbox" value="option1" id="checkbox3"
                                  (change)="di()" name="inciso6" [(ngModel)]="form.inciso6">
                                <label class="form-check-label" for="checkbox3">
                                  F) Los temas se revisan muy rápido
                                </label>
                              </div>
                              <br>
                              <div class="form-check checkbox">
                                <input class="form-check-input" type="checkbox" value="option1" id="checkbox3"
                                  (change)="di()" name="inciso7" [(ngModel)]="form.inciso7">
                                <label class="form-check-label" for="checkbox3">
                                  G) Se me dificulta la forma de enseñar del Maestro
                                </label>
                              </div>
                              <br>
                              <div class="form-check checkbox">
                                <input class="form-check-input" type="checkbox" value="option1" id="checkbox3"
                                  (change)="di()" name="inciso8" [(ngModel)]="form.inciso8">
                                <label class="form-check-label" for="checkbox3">
                                  H) No me gusta la materia
                                </label>
                              </div>
                              <br>
                              <div class="form-check checkbox">
                                <input class="form-check-input" type="checkbox" value="option1" id="checkbox3"
                                  (change)="di()" name="inciso9" [(ngModel)]="form.inciso9">
                                <label class="form-check-label" for="checkbox3">
                                  I) Me distraigo del estudio por situaciones personales y/o familiares
                                </label>
                              </div>
                              <br>
                              <div class="form-check checkbox">
                                <input class="form-check-input" type="checkbox" value="option1" id="checkbox3"
                                  (change)="di()" (change)="mostrarOtro()" name="inciso10" [(ngModel)]="form.inciso10">
                                <label class="form-check-label" for="checkbox3">
                                  K) Otro
                                </label>
                              </div>
                              <br>
                              <div class="input-group mb-3" *ngIf="mostrarOtro1">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input type="text" name="otro" class="form-control" placeholder="ESCRIBE TU MOTIVO"
                                  id="otro" autocomplete="" [(ngModel)]="form.otro" required>
                              </div>
                              <br>
                            </div>
                            <div class="row">
                              <div class="col-6">
                                <button (click)=saveMotivos() class="btn btn-primary px-4"
                                  [disabled]="!grupalForm.valid">Registrar</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
        <div *ngIf="visgrupal">
          <h1>GRUPAL</h1>
          <div class="app-body">
            <main class="main d-flex align-items-center">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 mx-auto">
                    <div align="center">
                      <h2>CARTA COMPROMISO</h2>
                    </div>
                    <div class="card-group">
                      <div class="card p-3">
                        <div class="card-body">
                          <H5>PROGRAMA DE ASESORÍA ACADÉMICA ENTRE ESTUDIANTES</H5>

                          <H5>CARTA COMPROMISO DEL ESTUDIANTE ASESORADO (A)</H5>


                          <P>Hago constar que tengo conocimiento de formar parte del Programa de Asesoría Académica
                            entre Estudiantes en calidad de ASESORADO
                            (A), con lo cual asumo los siguientes DERECHOS Y OBLIGACIONES.
                            <br>
                            Derechos:
                            <br>
                            • Estar inscrito (a) en el programa y recibir asesoría académica en la materia acordada
                            Recibir la asesoría en el horario establecido y acordado
                            Ser tratado (a) de manera amable y respetuosa
                            Tomar la asesoría dentro del Tecnológico
                            Reportar al responsable del programa cualquier falta de respeto o incumplimiento por parte
                            del Alumno (a) Asesor
                            <br>
                            Obligaciones
                            <br>
                            Permanecer en la asesoría un tiempo mínimo de un parcial
                            Asistir con puntualidad a las asesorías los días y horarios acordados
                            Cumplir con las tareas y actividades propuestas por el asesor
                            Mostrar una actitud comprometida y responsable en la asesoría y en las actividades que
                            deriven de ella
                            Tratar con respeto y amabilidad al alumno (a) asesor
                            Proporcionar la información requerida por la Coordinación del Programa o por mi compañero
                            (a) Asesor sobre mi trayectoria escolar y datos de identificación.
                            Informar al Alumno (a) Asesor la calificación obtenida en los exámenes que realice el
                            maestro (a) que imparte la materia.
                            Avisar al asesor (a) en caso de tener alguna actividad que me impida asistir a la asesoría
                            Asistir a las clases de la materia, con el profesor (a) que la imparte.</P>

                          <div align="center">
                            <H5>ATENTAMENTE</H5>
                            {{form.name}}
                            <div class="col-md-8">
                              <br>
                              <button (click)=cartaUser() class="btn btn-primary px-4">ACEPTO</button>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
        <div *ngIf="visatisfaccion">
          <h1>GRUPAL</h1>
          <div class="app-body">
            <main class="main d-flex align-items-center">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 mx-auto">
                    <div align="center">
                      <h2>EVALUACION DE SATISFACCION</h2>
                    </div>
                    <div class="card-group">
                      <div class="card p-3">
                        <div class="card-body">
                          <form #grupalForm=ngForm>
                            <div class="input-group mb-3">
                              <h5></h5>
                            </div>
                            <div class="input-group mb-3">
                              <h5>Con el objeto de detectar áreas de oportunidad que apoyen la mejora continua de la
                                asesoría,
                                solicitamos contestes el siguiente cuestionario.
                                <br><br>
                                DATOS GENERALES</h5>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="name" class="form-control" placeholder="name" id="name"
                                autocomplete="" [disabled]="true" [(ngModel)]="form.name" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="carrera" class="form-control" placeholder="carrera" id="carrera"
                                autocomplete="carrera" [disabled]="true" [(ngModel)]="form.carrera" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="semestre" class="form-control" placeholder="semestre"
                                id="semestre" autocomplete="semestre" [disabled]="true" [(ngModel)]="form.semestre"
                                required>
                            </div>
                            <div class="input-group mb-3" *ngIf="!habilitarMaterias">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="control" class="form-control" placeholder="Numero de comtrol"
                                id="control" autocomplete="control" [disabled]="true" [(ngModel)]="form.control"
                                required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                                <!--  (ngModelChange)="addclave()" -->
                              </div>
                              <select class="form-control" type="text" name="asesorSa" [(ngModel)]="form.asesorSa"
                                [disabled]="habilitarHoraMartes" [hidden]="habilitarHoraMartes">
                                <option value='0' disabled>NOMBRE ASESOR(RA)</option>
                                <option *ngFor="let ase of asesores" value={{ase.PK_USUARIO}}>
                                  {{ase.name+' '+ase.PRIMER_APELLIDO+' '+ase.SEGUNDO_APELLIDO}}</option>
                              </select>
                            </div>
                            <div class="input-group mb-3" *ngIf="!habilitarMaterias">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <select class="form-control" type="text" name="materiaSa" [(ngModel)]="form.materiaSa"
                                [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                <option value='0' disabled>MATERIA EN ASESORIA</option>
                                <option *ngFor="let ase of asesores" value={{ase.MATERIA}}>
                                  {{ase.MATERIA}}</option>
                              </select>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <select class="form-control" type="text" name="sesion" [(ngModel)]="form.sesion"
                                [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                <option value='0' disabled>NO. DE SESIONES EN QUE PARTICIPASTE</option>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                                <option value='5'>5</option>
                                <option value='6'>6</option>
                                <option value='7'>7</option>
                                <option value='8'>8</option>
                                <option value='9'>9</option>
                                <option value='10'>10</option>
                                <option value='11'>11</option>
                                <option value='12'>12</option>
                                <option value='13'>13</option>
                                <option value='14'>14</option>
                                <option value='15'>15</option>
                                <option value='16'>16</option>
                                <option value='17'>17</option>
                                <option value='18'>18</option>
                                <option value='19'>19</option>
                                <option value='20'>20</option>
                                <option value='21'>21</option>
                                <option value='22'>22</option>
                              </select>
                            </div>
                            <h4>1. La asesoría me ayudó a comprender la materia</h4>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <select type="text" class="form-control" name="respuesta1" [(ngModel)]="form.respuesta1"
                                  [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                  <option value='0' disabled>OPCIONES DE RESPUESTA</option>
                                  <option value='Totalmente de acuerdo'>Totalmente de acuerdo</option>
                                  <option value='De acuerdo'>De acuerdo</option>
                                  <option value='Sin elementos'>Sin elementos</option>
                                  <option value='En desacuerdo'>En desacuerdo</option>
                                  <option value='Totalmente en desacuerdo'>Totalmente en desacuerdo</option>
                                </select>
                              </div>
                            </div>

                            <h4>2. La asesoría fue una herramienta para aprobar las unidades de la materia</h4>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <select type="text" class="form-control" name="respuesta2" [(ngModel)]="form.respuesta2"
                                  [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                  <option value='0' disabled>OPCIONES DE RESPUESTA</option>
                                  <option value='Totalmente de acuerdo'>Totalmente de acuerdo</option>
                                  <option value='De acuerdo'>De acuerdo</option>
                                  <option value='Sin elementos'>Sin elementos</option>
                                  <option value='En desacuerdo'>En desacuerdo</option>
                                  <option value='Totalmente en desacuerdo'>Totalmente en desacuerdo</option>
                                </select>
                              </div>
                            </div>

                            <h4>3. Fui constante en la asistencia a la asesoría</h4>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <select type="text" class="form-control" name="respuesta3" [(ngModel)]="form.respuesta3"
                                  [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                  <option value='0' disabled>OPCIONES DE RESPUESTA</option>
                                  <option value='Totalmente de acuerdo'>Totalmente de acuerdo</option>
                                  <option value='De acuerdo'>De acuerdo</option>
                                  <option value='Sin elementos'>Sin elementos</option>
                                  <option value='En desacuerdo'>En desacuerdo</option>
                                  <option value='Totalmente en desacuerdo'>Totalmente en desacuerdo</option>
                                </select>
                              </div>
                            </div>

                            <h4>4. El horario de la asesoría me facilitó la asistencia</h4>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <select type="text" class="form-control" name="respuesta4" [(ngModel)]="form.respuesta4"
                                  [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                  <option value='0' disabled>OPCIONES DE RESPUESTA</option>
                                  <option value='Totalmente de acuerdo'>Totalmente de acuerdo</option>
                                  <option value='De acuerdo'>De acuerdo</option>
                                  <option value='Sin elementos'>Sin elementos</option>
                                  <option value='En desacuerdo'>En desacuerdo</option>
                                  <option value='Totalmente en desacuerdo'>Totalmente en desacuerdo</option>
                                </select>
                              </div>
                            </div>

                            <h4>5. El contenido revisado en la asesoría fue congruente con los temas que abordó el Mtro.
                              en la materia</h4>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <select type="text" class="form-control" name="respuesta5" [(ngModel)]="form.respuesta5"
                                  [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                  <option value='0' disabled>OPCIONES DE RESPUESTA</option>
                                  <option value='Totalmente de acuerdo'>Totalmente de acuerdo</option>
                                  <option value='De acuerdo'>De acuerdo</option>
                                  <option value='Sin elementos'>Sin elementos</option>
                                  <option value='En desacuerdo'>En desacuerdo</option>
                                  <option value='Totalmente en desacuerdo'>Totalmente en desacuerdo</option>
                                </select>
                              </div>
                            </div>

                            <h4>6. El asesor o asesora dominaba la materia</h4>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <select type="text" class="form-control" name="respuesta6" [(ngModel)]="form.respuesta6"
                                  [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                  <option value='0' disabled>OPCIONES DE RESPUESTA</option>
                                  <option value='Totalmente de acuerdo'>Totalmente de acuerdo</option>
                                  <option value='De acuerdo'>De acuerdo</option>
                                  <option value='Sin elementos'>Sin elementos</option>
                                  <option value='En desacuerdo'>En desacuerdo</option>
                                  <option value='Totalmente en desacuerdo'>Totalmente en desacuerdo</option>
                                </select>
                              </div>
                            </div>

                            <h4>7. La forma de explicar del Asesor o asesora facilitó mi aprendizaje</h4>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <select type="text" class="form-control" name="respuesta7" [(ngModel)]="form.respuesta7"
                                  [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                  <option value='0' disabled>OPCIONES DE RESPUESTA</option>
                                  <option value='Totalmente de acuerdo'>Totalmente de acuerdo</option>
                                  <option value='De acuerdo'>De acuerdo</option>
                                  <option value='Sin elementos'>Sin elementos</option>
                                  <option value='En desacuerdo'>En desacuerdo</option>
                                  <option value='Totalmente en desacuerdo'>Totalmente en desacuerdo</option>
                                </select>
                              </div>
                            </div>

                            <h4>8. El tiempo de la asesoría fue adecuado</h4>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <select type="text" class="form-control" name="respuesta8" [(ngModel)]="form.respuesta8"
                                  [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                  <option value='0' disabled>OPCIONES DE RESPUESTA</option>
                                  <option value='Totalmente de acuerdo'>Totalmente de acuerdo</option>
                                  <option value='De acuerdo'>De acuerdo</option>
                                  <option value='Sin elementos'>Sin elementos</option>
                                  <option value='En desacuerdo'>En desacuerdo</option>
                                  <option value='Totalmente en desacuerdo'>Totalmente en desacuerdo</option>
                                </select>
                              </div>
                            </div>

                            <h4>9. Los ejercicios y tareas de la asesoría apoyaron la comprensión de la materia</h4>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <select type="text" class="form-control" name="respuesta9" [(ngModel)]="form.respuesta9"
                                  [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                  <option value='0' disabled>OPCIONES DE RESPUESTA</option>
                                  <option value='Totalmente de acuerdo'>Totalmente de acuerdo</option>
                                  <option value='De acuerdo'>De acuerdo</option>
                                  <option value='Sin elementos'>Sin elementos</option>
                                  <option value='En desacuerdo'>En desacuerdo</option>
                                  <option value='Totalmente en desacuerdo'>Totalmente en desacuerdo</option>
                                </select>
                              </div>
                            </div>

                            <h4>10. En la asesoría pude expresar mis dudas sobre temas de la materia</h4>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <select type="text" class="form-control" name="respuesta10"
                                  [(ngModel)]="form.respuesta10" [disabled]="habilitarMaterias"
                                  [hidden]="habilitarMaterias">
                                  <option value='0' disabled>OPCIONES DE RESPUESTA</option>
                                  <option value='Totalmente de acuerdo'>Totalmente de acuerdo</option>
                                  <option value='De acuerdo'>De acuerdo</option>
                                  <option value='Sin elementos'>Sin elementos</option>
                                  <option value='En desacuerdo'>En desacuerdo</option>
                                  <option value='Totalmente en desacuerdo'>Totalmente en desacuerdo</option>
                                </select>
                              </div>
                            </div>
                            <h4>Escribe tus sugerencias u observaciones</h4>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input type="text" name="sugerencia" class="form-control" placeholder="Sugerencias"
                                  id="sugerencia" autocomplete="sugerencia" [(ngModel)]="form.sugerencia" required>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-6">
                                <button (click)=evaluacion() class="btn btn-primary px-4"
                                  [disabled]="!grupalForm.valid">Registrar</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
        <div *ngIf="viscalificacion">
          <h1>GRUPAL</h1>
          <div class="app-body">
            <main class="main d-flex align-items-center">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 mx-auto">
                    <div align="center">
                      <h2>CALIFICACIONES PARCIALES</h2>
                    </div>
                    <div class="card-group">
                      <div class="card p-3">
                        <div class="card-body">
                          <form #grupalForm=ngForm>
                            <div class="input-group mb-3">
                              <h5></h5>
                            </div>
                            <div class="input-group mb-3">
                              <h5>DATOS GENERALES</h5>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="name" class="form-control" placeholder="name" id="name"
                                autocomplete="" [disabled]="true" [(ngModel)]="form.name" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="carrera" class="form-control" placeholder="carrera" id="carrera"
                                autocomplete="carrera" [disabled]="true" [(ngModel)]="form.carrera" required>
                            </div>
                            <div class="input-group mb-3" *ngIf="!habilitarMaterias">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="control" class="form-control" placeholder="Numero de comtrol"
                                id="control" autocomplete="control" [disabled]="true" [(ngModel)]="form.control"
                                required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                                <!--  (ngModelChange)="addclave()" -->
                              </div>
                              <select class="form-control" type="text" name="asesorSa" [(ngModel)]="form.asesorSa"
                                [disabled]="habilitarHoraMartes" [hidden]="habilitarHoraMartes">
                                <option value='0' disabled>NOMBRE ASESOR(RA)</option>
                                <option *ngFor="let ase of asesores" value={{ase.PK_USUARIO}}>
                                  {{ase.name+' '+ase.PRIMER_APELLIDO+' '+ase.SEGUNDO_APELLIDO}}</option>
                              </select>
                            </div>
                            <div class="input-group mb-3" *ngIf="!habilitarMaterias">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <select class="form-control" type="text" name="materiaSa" [(ngModel)]="form.materiaSa"
                                [disabled]="habilitarMaterias" [hidden]="habilitarMaterias">
                                <option value='0' disabled>MATERIA EN ASESORIA</option>
                                <option *ngFor="let ase of asesores" value={{ase.MATERIA}}>
                                  {{ase.MATERIA}}</option>
                              </select>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="aula" class="form-control" placeholder="Aula" id="aula"
                                autocomplete=""  [(ngModel)]="form.aula" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="dia" class="form-control" placeholder="Dia(s)" id="dia"
                                autocomplete=""  [(ngModel)]="form.dia" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                              </div>
                              <input type="text" name="hora" class="form-control" placeholder="Hora(s)" id="hora"
                                autocomplete=""  [(ngModel)]="form.hora" required>
                            </div>
                            <div class="input-group mb-3">
                                <h5>CALIFICACIONES</h5>
                              </div>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <select type="text" class="form-control" name="unidad"
                                  [(ngModel)]="form.unidad" [disabled]="habilitarMaterias"
                                  [hidden]="habilitarMaterias">
                                  <option value=null disabled>UNIDAD</option>
                                  <option value='UNIDAD 1'>UNIDAD 1</option>
                                  <option value='UNIDAD 2'>UNIDAD 2</option>
                                  <option value='UNIDAD 3'>UNIDAD 3</option>
                                  <option value='UNIDAD 4'>UNIDAD 4</option>
                                  <option value='UNIDAD 5'>UNIDAD 5</option>
                                  <option value='UNIDAD 5'>UNIDAD 6</option>
                                  <option value='UNIDAD 5'>UNIDAD 7</option>
                                  <option value='UNIDAD 5'>UNIDAD 8</option>
                                  <option value='UNIDAD 5'>UNIDAD 9</option>
                                  <option value='FINAL'>FINAL</option>
                                </select>
                              </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input type="text" name="calificacionun" class="form-control" placeholder="CALIFICACION" id="calificacionun"
                                  autocomplete=""  [(ngModel)]="form.calificacionun" required>
                              </div>
                            <h4>Escribe tus sugerencias u observaciones</h4>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input type="text" name="sugerencia" class="form-control" placeholder="OBSERVACIONES"
                                  id="sugerencia" autocomplete="sugerencia" [(ngModel)]="form.sugerencia" required>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-6">
                                <button (click)=parcial() class="btn btn-primary px-4"
                                  [disabled]="!grupalForm.valid">Registrar</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #smallModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Seguimiento Academico </h4>
        <button type="button" class="close" (click)="smallModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th class="w-25">Dato</th>
              <th class="w-75">Informacion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ASESOR</td>
              <td><input [(ngModel)]="form.asesor" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>ALUMNO</td>
              <td><input [(ngModel)]="form.alumno" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>MATERIA</td>
              <td><input [(ngModel)]="form.materia" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>DIA</td>
              <td><input [(ngModel)]="form.dia" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>HORA</td>
              <td><input [(ngModel)]="form.hora" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>VALIDA</td>
              <td><input [(ngModel)]="form.valida" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>ESPACIO</td>
              <td><input [(ngModel)]="form.espacio" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>CAMPUS</td>
              <td><input [(ngModel)]="form.campus" type="text" class="form-control"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="smallModal.hide()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="actualiza()" (click)="smallModal.hide()">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #smallModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">HORARIO DEL ASESOR</h4>
        <button type="button" class="close" (click)="smallModal1.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th class="w-25">Dato</th>
              <th class="w-75">Informacion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ASESOR</td>
              <td><input [(ngModel)]="form.asesor1" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>GRUPO</td>
              <td><input [(ngModel)]="form.grupo" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>MATERIA</td>
              <td><input [(ngModel)]="form.materia1" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>DIA</td>
              <td><input [(ngModel)]="form.dia1" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>HORA</td>
              <td><input [(ngModel)]="form.hora1" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>VALIDA</td>
              <td><input [(ngModel)]="form.valida1" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>ESPACIO</td>
              <td><input [(ngModel)]="form.espacio1" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>CAMPUS</td>
              <td><input [(ngModel)]="form.campus1" type="text" class="form-control"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="smallModal1.hide()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="actualiza1()"
          (click)="smallModal1.hide()">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->