<app-404 *ngIf=!mostrarModulo></app-404>
<div class="animated fadeIn" *ngIf=mostrarModulo>
    <div class="row">
        <div class="offset-2 col-md-8">
            <div class="card">
                <table class="table">
                    <thead>
                    <tr class="card-header">
                        <th>Nombre</th>
                        <th>Estatus</th>
                        <th>Archivo</th>
                        <th>Empresa</th>
                        <th>Comentarios</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let antep of anteproyectosLista">
                        <td>{{ antep.NOMBRE }}</td>
                        <td>{{antep.ESTATUS_LETRAS}}</td>
                        <td><a href="{{ruta+antep.PDF}}" target="_blank">{{antep.PDF}}</a></td>
                        <td>{{ antep.EMPRESA }}</td>
                        <td>{{ antep.COMENTARIO }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
