<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">BIENVENIDO {{this.usuario['nombre_usuario'] }} </h1>
        <h1 class="display-4" >Sistema de Capacitación Docente </h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad, eligendi eum exercitationem expedita illum omnis praesentium, quas quibusdam ratione rerum soluta tempore temporibus. Animi aspernatur ex maiores minima similique.</p>
    </div>
</div>
<hr>
<h2><a href="#">No esperes más</a></h2>
