<h2 class="text-center "> Registro de Cursos </h2>
<div class="container mt-5 texto-card">
<!--    inicia formulario -->
    <form>
    <div class="row">
        <div class="col-12 px-0">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                    <fa-icon [icon]="info"></fa-icon>
                    <strong>Información del Curso</strong>
                    </div>
                </div>
<!--                fin card header-->
                <div class="card-body texto-form">
<!--                    <form >-->
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <div class="form-group row">
                                    <div class="col-md-2 col-form-label text-right my-auto">
                                        <label for="nombrecurso" >Nombre del Curso:</label>
                                        <label style="color:#ff0000;" for="nombrecurso">*</label>
                                    </div>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <textarea [(ngModel)]="this.curso.nombre_curso"  style="resize: none" placeholder="Escriba el nombre del curso"
                                                            class="form-control"  name="nombrecurso"  id="nombrecurso"  required></textarea>
                                            </div>
                                    </div>
                                </div>
<!--                                fin nombre del curso-->
                                <div class="form-group row">
                                    <div class="col-md-3 pl-0 col-form-label text-right my-auto">
                                        <label for="nombre_instrcutor" >Nombre del Instructor:</label>
                                        <label style="color:#ff0000;" >*</label>
                                    </div>

<!--                                    prueba-->

                                    <div class="col-md-5">
                                        <div  class="input-group">
<!--                                            prueba-->
<!--                                                <div ></div>-->
<!--                                            fin prueba-->

                                    <p-autoComplete *ngIf="tipo_participante==2; else elsefiltro"
                                                     [(ngModel)]="this.curso.instructores"
                                                    [multiple]="true"
                                                    [suggestions]="this.docentesArray"
                                                    field="NOMBRE"
                                                    name="instructores"
                                                    id="nombre_instrcutor"
                                                    (completeMethod)="filtro_instructor($event)"
                                                    [inputStyle] = "{'width':'13.125rem'}"
                                                      required
                                                      disabled
                                                      placeholder="Escriba el nombre del instructor">
                                        <ng-template let-value pTemplate="selectedItem">
                                            <span style="padding-right: 1.25rem;  font-size:0.875rem">
                                                {{value.NOMBRE }} {{ value.PRIMER_APELLIDO }} {{value.SEGUNDO_APELLIDO}}</span>
                                        </ng-template>
                                        <ng-template let-brand pTemplate="item">
                                            <div class="">
                                                <div style="font-size:0.875rem;">
                                                 {{brand.NOMBRE }} {{brand.PRIMER_APELLIDO }} {{brand.SEGUNDO_APELLIDO}}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-autoComplete>
                                            <ng-template #elsefiltro>
                                                <p-autoComplete
                                                                [(ngModel)]="this.curso.instructores"
                                                                [multiple]="true"
                                                                [suggestions]="this.docentesArray"
                                                                field="NOMBRE"
                                                                name="instructores"
                                                                (completeMethod)="filtro_instructor($event)"
                                                                [inputStyle] = "{'width':'13.125rem'}"
                                                                required
                                                                placeholder="Escriba el nombre del instructor">
                                                    <ng-template let-value pTemplate="selectedItem">
                                                    <span style="padding-right: 20px;  font-size:14px">
                                                        {{value.NOMBRE }} {{ value.PRIMER_APELLIDO }} {{value.SEGUNDO_APELLIDO}}</span>
                                                    </ng-template>
                                                    <ng-template let-brand pTemplate="item">
                                                        <div class="">
                                                            <div style="font-size:16px;">
                                                                {{brand.NOMBRE }} {{brand.PRIMER_APELLIDO }} {{brand.SEGUNDO_APELLIDO}}
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </p-autoComplete>
                                            </ng-template>

                                        </div>
                                    </div>
                                    <div class="col-md-2 col-form-label text-right">
                                        <label for="cupo" >Cupo Máximo:</label>
                                        <label style="color:#ff0000;" >*</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group">
                                            <input  [(ngModel)]="this.curso.cupo_maximo" type="number" class="form-control" id="cupo" name="cupo"
                                                   placeholder="Capacidad" required>
                                        </div>
                                    </div>
                                </div>
<!--                                fin instructor y cupo-->
                                <div class="form-group row">
                                    <div class="col-md-2 col-form-label text-right my-auto">
                                        <label for="periodo_curso" >Periodo:</label>
                                        <label style="color:#ff0000;" >*</label>
                                    </div>
                                    <div class="col-md-5">
                                        <!--<select class="form-control" name="periodo_curso" id="periodo_curso" required>
                                            <option >Selecciona un Periodo</option>
                                            <option value="1">PERIODO EN-FEB 2020</option>
                                            <option value="2">12:00</option>
                                            <option value="3">17:00</option>
                                        </select>-->
                                        <select  [(ngModel)]="this.curso.pk_periodo"  class="form-control"
                                                 name="periodo_curso" id="periodo_curso" required>
<!--                                            <select [(ngModel)]="edificio" class="form-control" name="edificio" required>-->
                                            <option value="-1">Selecciona un Periodo</option>
                                            <option *ngFor="let periodo of this.periodosArray; let i = index"
                                                    [value]="periodo['PK_PERIODO_CADO']">
                                                {{periodo['NOMBRE_PERIODO']}}
                                                {{periodo['FECHA_INICIO'] | date:'MMMM'| uppercase }}
                                                {{periodo['FECHA_INICIO'] | date:'yyyy' }} -
                                                {{periodo['FECHA_FIN'] | date:'MMMM' | uppercase }}
                                                {{periodo['FECHA_FIN'] | date:'yyyy' }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-form-label text-right my-auto">
                                        <label for="tipo_curso" >Tipo de Curso:</label>
                                        <label style="color:#ff0000;" >*</label>
                                    </div>
                                    <div class="col-md-3">
                                        <select  [(ngModel)]="this.curso.tipo_curso"  class="form-control" name="tipo_curso" id="tipo_curso" required>
                                            <option [value]=-1 >Selecciona un Tipo de Curso</option>
                                            <option [value]=1>Formación Docente</option>
                                            <option [value]=2>Actualización Profesional</option>
                                            <option [value]=3>Diplomado</option>
                                        </select>
                                    </div>
                                </div>
<!--                                fin periodo y tipo -->
                                <div class="form-group row">
                                    <div class="col-md-2 col-form-label text-right my-auto">
                                        <label for="area_curso" >Área académica:</label>
                                        <label style="color:#ff0000;" >*</label>
                                    </div>
                                    <div class="col-md-5">
<!--                                        <select class="form-control" name="area_curso" id="area_curso" required>-->
<!--                                            <option >Selecciona una Área académica</option>-->
<!--                                            <option value="1">SISTEMAS</option>-->
<!--                                            <option value="2">TICS</option>-->
<!--                                            <option value="3">PARA TODAS</option>-->
<!--                                        </select>-->
                                        <select [(ngModel)]="this.curso.pk_area_academica" class="form-control" name="area_curso" id="area_curso"  required>
                                            <!--                                            <select [(ngModel)]="edificio" class="form-control" name="edificio" required>-->
                                            <option [value]=-1>Selecciona una Área académica</option>
                                            <option [value]=0>Para todas las Áreas</option>
                                            <option *ngFor="let area of this.areasArray; let i = index"
                                                    value="{{area['PK_AREA_ACADEMICA']}}">
                                                {{area['NOMBRE']}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
<!--                                termina area academica-->
                                <div class="form-group row">
                                    <div class="col-md-2 col-form-label text-right my-auto">
                                        <label for="estado_curso" >Estado del Curso:</label>
                                        <label style="color:#ff0000;" >*</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <select  [(ngModel)]="this.curso.estado_curso"  class="form-control"
                                                     name="estado_curso" id="estado_curso" required disabled>
                                                <option [value]=-1 >Estados del curso</option>
                                                <option *ngFor="let estado of this.cursosArray"
                                                        [value]="estado['PK_ESTADO_CURSO']">
                                                    {{estado['NOMBRE_ESTADO']}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--     termina el primer recuadro de captura -->
                            </div>
                            <!--       termina el row-->
                        </div>
<!--                    </form>-->
<!--                    fin form-->
                </div>
<!--                fin card body-->
            </div>
<!--            termina la tarjeta entera-->
        </div>
<!--        fin col 12-->
    </div>
<!--    fin row-->
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <fa-icon [icon]="date"></fa-icon>
                        <strong>Fecha y Hora </strong>
                        <fa-icon [icon]="hora"></fa-icon>
                    </div>
                </div>
                <!--                fin card header-->
                <div class="card-body texto-form">
                    <!--                    <form >-->
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="form-group row">
                                <div class="col-md-7 col-form-label text-right my-auto">
                                    <span style="font-size:1rem;"><fa-icon [icon]="date" ></fa-icon>
                                            </span>
                                    <label for="fecha_inicio_curso" >Fecha de Inicio del Curso:</label>
                                    <label style="color:#ff0000;" for="fecha_inicio_curso">*</label>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <input [(ngModel)]="this.curso.fecha_inicio"  type="date" class="form-control" id="fecha_inicio_curso" name="fecha_inicio_curso"
                                                required>
                                    </div>
                                </div>
                            </div>
                            <!--                                fin fecha inicio del curso-->
                            <div class="form-group row">
                                <div class="col-md-7 col-form-label text-right my-auto">
                                    <span style="font-size:1rem;"><fa-icon [icon]="date" ></fa-icon>
                                            </span>
                                    <label for="fecha_fin_curso" >Fecha de Finalización del Curso:</label>
                                    <label style="color:#ff0000;" for="fecha_fin_curso">*</label>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <input [(ngModel)]="this.curso.fecha_fin" type="date" class="form-control" id="fecha_fin_curso" name="fecha_fin_curso"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <!--                                fin fecha fin del curso-->
                            <div class="form-group row">
                                <div class="col-md-7 col-form-label text-right my-auto">
                                    <span style="font-size:1rem;"><fa-icon [icon]="hora" ></fa-icon>
                                            </span>
                                    <label for="hora_incio_curso" >Hora de Incio del Curso:</label>
                                    <label style="color:#ff0000;" for="hora_incio_curso">*</label>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group col-md-5">
                                        <p-calendar [(ngModel)]="this.curso.hora_inicio"
                                                    [timeOnly]="true"   hourFormat="12"
                                                    id="hora_incio_curso" name="hora_incio_curso"
                                                    placeholder="Seleccione la hora"
                                                    required></p-calendar>
                                    </div>
<!--                                    {{this.hora_inicio_curso}}-->
                                </div>
                            </div>
                            <!--                                fin hora inicio del curso-->
                            <div class="form-group row">
                                <div class="col-md-7 col-form-label text-right my-auto">
                                    <span style="font-size:1rem;"><fa-icon [icon]="hora" ></fa-icon>
                                            </span>
                                    <label for="hora_fin_curso" >Hora de Finalización del Curso:</label>
                                    <label style="color:#ff0000;" for="hora_fin_curso">*</label>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group col-md-5">
                                        <p-calendar [(ngModel)]="this.curso.hora_fin"
                                                    [timeOnly]="true"   hourFormat="12" id="hora_fin_curso"
                                                    name="hora_fin_curso"
                                                    placeholder="Seleccione la hora"
                                                     required></p-calendar>

                                    </div>
                                    <!--                                    {{this.hora_inicio_curso}}-->
                                </div>
                            </div>
                            <!--                                fin hora fin del curso-->
                            <div class="form-group row">
                                <div class="col-md-3 col-form-label text-right my-auto">
                                    <button (click)="calcularTotalHoras()"
                                        class="btn btn-primary btn-sm">Calcular total de Horas</button>
                                </div>
                                <div class="col-md-5 col-form-label text-right my-auto">
                                    <label for="total_horas_curso" >Total de horas del Curso:</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group my-auto">
                                            <input  #totalHoras
                                                    [(ngModel)]="this.curso.total_horas"  type="number"
                                                   class="form-control mt-2" id="total_horas_curso"
                                                   name="total_horas_curso"
                                                   disabled
                                                    required placeholder="Total de horas">
                                    </div>
                                    <!--                                    {{this.hora_inicio_curso}}-->
                                </div>
                            </div>
                            <!--                                fin horas total del curso-->
                        </div>
                        <!--       termina el row-->
                    </div>
                    <!--                    </form>-->
                    <!--                    fin form-->
                </div>
                <!--                fin card body-->
            </div>

        </div>
        <!--            termina la tarjeta fecha y hora -->
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <fa-icon [icon]="mapa"></fa-icon>
                        <strong>Ubicación</strong>
                    </div>
                </div>
                <!--                fin card header-->
                <div class="card-body texto-form">
                    <!--                    <form >-->
                    <div class="row">
                        <div class="form-group col-sm-12 text-center">

                            <div class="form-group row">
                                <div class="col-md-3 col-form-label text-right my-auto">
                                    <label for="edificio" >Edificio:</label>
                                    <label style="color:#ff0000;" for="campus">*</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <select [(ngModel)]="this.curso.edificio"
                                                (change)="autocompletaCampus()"
                                                class="form-control" name="edificio" id="edificio" required>
                                            <option  value="-1" selected>Selecciona un edificio</option>
                                            <option *ngFor="let edificio of this.edificiosArray"
                                                    [value]="edificio['PK_EDIFICIO']"
                                                    >
                                                {{'Campus '+edificio['FK_CAMPUS']+' - Edificio: '+edificio['PREFIJO']+'   '+edificio['NOMBRE']}}</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--                                fin edificio-->
                            <div class="form-group row">
                                <div class="col-md-3 col-form-label text-right my-auto">
                                    <label for="campus" >Campus:</label>
                                    <label style="color:#ff0000;" for="campus">*</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <select [(ngModel)]="this.curso.campus"  class="form-control" name="campus" id="campus" required>
                                            <option value="-1"  >Selecciona un campus</option>
                                            <option [value]=1>Campus 1</option>
                                            <option [value]=2>Campus 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--                                fin campus-->
                            <div class="form-group row">
                                <div class="col-md-3 col-form-label text-right my-auto">
                                    <label for="edificio" >Espacio:</label>
                                    <label style="color:#ff0000;" for="espacio">*</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input [(ngModel)]="this.curso.espacio" type="text" class="form-control"
                                               id="espacio" name="espacio" placeholder="Escriba el nombre de la Sala o Laboratorio"
                                               required>
<!--                                        <select [(ngModel)]="this.curso.edificio" class="form-control" name="espacio" id="espacio" required>-->
<!--                                            <option >Selecciona un espacio</option>-->
<!--                                            <option value="1">Sala alfombrada</option>-->
<!--                                            <option value="2">Campus 2</option>-->
<!--                                        </select>-->
                                    </div>
                                </div>
                            </div>
                            <!--                                fin espacio-->
                        </div>
                        <!--       termina el row-->
                    </div>
                    <!--                    </form>-->
                    <!--                    fin form-->
                </div>
                <!--                fin card body-->
            </div>
            <!--            termina la tarjeta entera-->
        </div>
        <!--        fin col 12-->
    </div>
    <!--    fin row-->
    <div class="row mb-5">
        <div class="col-md-12 text-center">
            <input [(ngModel)]="this.validado" name="validado"
                   type="checkbox" class="custom-control-input" id="valida">
            <label class="custom-control-label" for="valida">He verificado la información capturada</label><br><br>
<!--            <button class="btn btn-primary" [disabled]="!this.validado" (click)="registra_periodo()">-->
            <button #btnregistro  class="btn btn-primary btn-lg" [disabled]="!this.validado" (click)="registrar_curso()" >
                <fa-icon [icon]="save"></fa-icon>
                Registrar Nuevo Curso</button>
            <button #btnmodificar  hidden  class="btn btn-warning btn-lg" [disabled]="!this.validado" (click)="modificar_curso()" >
                <fa-icon [icon]="edit"></fa-icon>
                Modificar Curso</button>
            <!--                        <pre>{{this.validado}}</pre>-->
            <button  (click)="back()" type="button" class="btn btn-danger btn-lg">
                <fa-icon [icon]="cancel"></fa-icon>
                Cancelar</button>
        </div>
    </div>
</form>
<!--    fin fomrulario-->
</div>
<!--fin container-->
<pre>{{this.curso | json }}</pre>
<pre>{{this.instructor | json }}</pre>
<pre>{{this.idInstructor | json }}</pre>
<pre>{{this.validado | json }}</pre>
<pre>{{this.instructores|json}}</pre>

<!-- INICIO VENTANA MODAL DE CARGA -->
<div bsModal #loaderModal="bs-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="false"
     [config]="{backdrop: 'static',keyboard: false}" [style.display]="this.display">
    <!--[config]="{backdrop: 'static',keyboard: false}">-->
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"
             style="background-color: rgba(51, 51, 51, 0.8); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0);">
            <app-loader></app-loader>
        </div>
    </div>
</div>
<!-- FIN VENTANA MODAL DE CARGA -->
