<h2 class="text-center"> Cursos </h2>

<div class="container mt-5 container-fluid">
    <div class="row">
        <div class="col-4">
           <!-- <button type="submit" class="btn btn-primary px-4">
                Guardar respuestas
            </button>
            <a class="btn btn-danger px-4" routerLink="/tutorias/6da5b4309f3cc102b3a2b7ac7e52a62c">Cancelar</a>-->

            <!--<button  type="submit"  class="btn btn-primary btn-lg" >
                <fa-icon [icon]="add"></fa-icon>
                Proponer nuevo Curso
            </button>-->
            <a class="btn btn-success btn-lg"  [routerLink]="['..','7b44125ec5b3b7b61b000cdee93c6796']">  <fa-icon [icon]="add"></fa-icon>
                Proponer nuevo Curso </a>
        </div>
<!--        <div class="col-6">-->
<!--            2 of 3 (wider)-->
<!--        </div>-->
        <div class="col-4 offset-4">
            <div class="input-group mb-3 input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="buscar_curso"><fa-icon [icon]="search" ></fa-icon></span>
                </div>
                <input type="search" class="form-control" placeholder="Buscar un curso" id="buscar_curso">
            </div>
<!--           <span><fa-icon [icon]="search" ></fa-icon></span>-->
<!--            <input class="form-control  input-group-lg  d-inline" type="search" placeholder="Buscar un curso" aria-label="Search">-->
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <p-accordion>
            <p-accordionTab selected="true" class="text-center" header="PERIODO INTERSEMESTRAL DICIEMBRE-ENERO 2020">
                <div class="container container-fluid px-0">
                    <div class="row">
                        <h3 class="text-success font-weight-bold" >Actualización Profesional</h3>
                    </div>
                    <div class="row mt-2">
<!--                        curso -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body p-0 texto-card">
                                    <div class="row px-3">
                                        <div class="col-3 px-0">
                                            <img class="card-img-top" style="width:100%; height:100%;" src="assets/img/capacitacion_docente/curso1.png" alt="Card image cap">
                                        </div>
                                        <div class="col-1 py-1 px-0" >
                                            <hr class="hr-vertical">
                                        </div>
                                        <div class="col-6 py-3 px-0">
                                            <div class="row text-left pr-4">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-2 text-right">
                                                            <label>Curso:</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <label class="font-weight-bold">Estrategias Docentes en el aula para el fomento de la investigación científica y tecnológica</label>
                                                        </div>
                                                    </div>
<!--                                                    fin curso-->
                                                    <div class="row">
                                                        <div class="col-2 text-right" >
                                                            <label>Por:</label>
                                                        </div>
                                                        <div class="col-10">
                                                           <label class="font-weight-bold"> <a href="#">José Gerardo Carpio Flores</a></label>
                                                        </div>
                                                    </div>
<!--                                                    fin instructor-->
                                                    <div class="row">
                                                        <div class="col-2 text-right">
                                                            <label>Área:</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <label class="font-weight-bold">Sistemas Computacionales</label>
                                                        </div>
                                                    </div>
<!--                                                    fin area-->
                                                    <div class="row">
                                                        <div class="col-2 pl-0 text-right">
                                                            <label>
                                                                Fecha:</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <label class="font-weight-bold"><fa-icon [icon]="fecha"></fa-icon>
                                                                12/12/2019 - 12/01/2020</label>
                                                        </div>
                                                    </div>
<!--                                                    fin fecha -->
                                                    <div class="row">
                                                        <div class="col-2 text-right">
                                                            <label>Hora:</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <label class="font-weight-bold"><fa-icon [icon]="hora" ></fa-icon>
                                                                9:00 am - 12:00 pm</label>
                                                        </div>

                                                    </div>
<!--                                                    fin hora  -->
                                                </div>
                                            </div>
<!--                                            fin renglon texto-->
                                        </div>
<!--                                        fin texto-->
                                        <div class="col-2 py-5 pl-0 pr-1">
                                            <a href="#" class="btn btn-info  my-1 btn-block"><fa-icon [icon]="info"></fa-icon> Ver</a>
                                            <button class="btn btn-warning  my-1 btn-block"><fa-icon [icon]="edit"></fa-icon>Editar</button>
                                            <button class="btn btn-danger  my-1 btn-block"><fa-icon [icon]="delete"></fa-icon>Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        fin curso-->


                    </div>
                    <div  class="row">
                        <h3 class="font-weight-bold text-primary">Formación Docente</h3>
                    </div>
                    <div class="row mt-2">
                        <!--                        curso -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body p-0 texto-card">
                                    <div class="row px-3">
                                        <div class="col-3 px-0 m-3">
                                            <img class="card-img-top img-fluid"  src="assets/img/capacitacion_docente/curso1.png" alt="Card image cap">
                                        </div>
                                        <div class="col-1 py-1 px-0" >
                                            <hr class="hr-vertical">
                                        </div>
                                        <div class="col-6 py-1 px-0">
                                            <div class="row text-left pr-4">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-2 text-right">
                                                            <label>Curso:</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <label class="font-weight-bold">Estrategias Docentes en el aula para el fomento de la investigación científica y tecnológica</label>
                                                        </div>
                                                    </div>
                                                    <!--                                                    fin curso-->
                                                    <div class="row">
                                                        <div class="col-2 text-right" >
                                                            <label>Por:</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <label class="font-weight-bold"> <a href="#">José Gerardo Carpio Flores</a></label>
                                                        </div>
                                                    </div>
                                                    <!--                                                    fin instructor-->
                                                    <div class="row">
                                                        <div class="col-2 text-right">
                                                            <label>Área:</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <label class="font-weight-bold">Sistemas Computacionales</label>
                                                        </div>
                                                    </div>
                                                    <!--                                                    fin area-->
                                                    <div class="row">
                                                        <div class="col-2 pl-0 text-right">
                                                            <label>
                                                                Fecha:</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <label class="font-weight-bold"><fa-icon [icon]="fecha"></fa-icon>
                                                                12/12/2019 - 12/01/2020</label>
                                                        </div>
                                                    </div>
                                                    <!--                                                    fin fecha -->
                                                    <div class="row">
                                                        <div class="col-2 text-right">
                                                            <label>Hora:</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <label class="font-weight-bold"><fa-icon [icon]="hora" ></fa-icon>
                                                                9:00 am - 12:00 pm</label>
                                                        </div>

                                                    </div>
                                                    <!--                                                    fin hora  -->
                                                </div>
                                            </div>
                                            <!--                                            fin renglon texto-->
                                        </div>
                                        <!--                                        fin texto-->
                                        <div class="col-2 py-4 pl-0 pr-1">
                                            <a href="#" class="btn btn-info  my-1 btn-block"><fa-icon [icon]="info"></fa-icon> Ver</a>
                                            <button class="btn btn-warning  my-1 btn-block"><fa-icon [icon]="edit"></fa-icon>Editar</button>
                                            <button class="btn btn-danger  my-1 btn-block"><fa-icon [icon]="delete"></fa-icon>Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--                        fin curso-->
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body p-0 texto-card">
                                    <div class="row px-3">
                                        <div class="col-12 px-0 pb-1 pt-0">
                                            <img class="card-img-top img-fluid"  src="assets/img/capacitacion_docente/curso1.png" alt="Card image cap">
                                        </div>
                                    </div>
<!--                                    FIN RENGLON IMG-->
<!--                                    <div class="row text-left px-2">-->
<!--                                        <div class="col-12">-->
                                            <div class="row text-left pl-3">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-2 text-right px-1">
                                                            <label>Curso:</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <label class="font-weight-bold">Estrategias Docentes en el aula para el fomento de la investigación científica y tecnológica</label>
                                                        </div>
                                                    </div>
                                                    <!--                                                    fin curso-->
                                                    <div class="row">
                                                        <div class="col-2 text-right px-1" >
                                                            <label>Por:</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <label class="font-weight-bold"> <a href="#">José Gerardo Carpio Flores</a></label>
                                                        </div>
                                                    </div>
                                                    <!--                                                    fin instructor-->
                                                    <div class="row">
                                                        <div class="col-2 text-right px-1">
                                                            <label>Área:</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <label class="font-weight-bold">Sistemas Computacionales</label>
                                                        </div>
                                                    </div>
                                                    <!--                                                    fin area-->
                                                    <div class="row">
                                                        <div class="col-2  text-right px-1">
                                                            <label>
                                                                Fecha:</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <label class="font-weight-bold"><fa-icon [icon]="fecha"></fa-icon>
                                                                12/12/2019 - 12/01/2020</label>
                                                        </div>
                                                    </div>
                                                    <!--                                                    fin fecha -->
                                                    <div class="row">
                                                        <div class="col-2 text-right px-1">
                                                            <label>Hora:</label>
                                                        </div>
                                                        <div class="col-10">
                                                            <label class="font-weight-bold"><fa-icon [icon]="hora" ></fa-icon>
                                                                9:00 am - 12:00 pm</label>
                                                        </div>

                                                    </div>
                                                    <!--                                                    fin hora  -->
<!--                                                </div>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
<!--                                    FIN RENGLON TEXTO-->
<!--                                    <div class="card-body p-0 texto-card">-->
                                    <hr>
                                        <div class="row px-3">
                                            <div class="col-4">
                                                <a href="#" class="btn btn-link  my-1 btn-block"><fa-icon [icon]="info"></fa-icon> Ver</a>
                                            </div>
                                            <div class="col-4 px-1">
                                                <button class="btn btn-link   my-1 btn-block"><fa-icon [icon]="edit"></fa-icon>Editar</button>
                                            </div>
                                            <div class="col-4 px-1">
                                                <button class="btn btn-link my-1 btn-block"><fa-icon [icon]="delete"></fa-icon>Eliminar</button>
                                            </div>
                                        </div>
<!--                                        fin renglon botons-->

<!--                                    </div>-->

                                </div>
                            </div>
                        </div>
                        <!--             PRUEBA VERTICAL           fin curso-->
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body p-0 texto-card">
                                    <div class="row px-3">
                                        <div class="col-12 px-0 pb-1 pt-0">
                                            <img class="card-img-top img-fluid"  src="assets/img/capacitacion_docente/curso1.png" alt="Card image cap">
                                        </div>
                                    </div>
                                    <!--                                    FIN RENGLON IMG-->
                                    <!--                                    <div class="row text-left px-2">-->
                                    <!--                                        <div class="col-12">-->
                                    <div class="row text-left pl-3">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-2 text-right px-1">
                                                    <label>Curso:</label>
                                                </div>
                                                <div class="col-10">
                                                    <label class="font-weight-bold">Estrategias Docentes en el aula para el fomento de la investigación científica y tecnológica</label>
                                                </div>
                                            </div>
                                            <!--                                                    fin curso-->
                                            <div class="row">
                                                <div class="col-2 text-right px-1" >
                                                    <label>Por:</label>
                                                </div>
                                                <div class="col-10">
                                                    <label class="font-weight-bold"> <a href="#">José Gerardo Carpio Flores</a></label>
                                                </div>
                                            </div>
                                            <!--                                                    fin instructor-->
                                            <div class="row">
                                                <div class="col-2 text-right px-1">
                                                    <label>Área:</label>
                                                </div>
                                                <div class="col-10">
                                                    <label class="font-weight-bold">Sistemas Computacionales</label>
                                                </div>
                                            </div>
                                            <!--                                                    fin area-->
                                            <div class="row">
                                                <div class="col-2  text-right px-1">
                                                    <label>
                                                        Fecha:</label>
                                                </div>
                                                <div class="col-10">
                                                    <label class="font-weight-bold"><fa-icon [icon]="fecha"></fa-icon>
                                                        12/12/2019 - 12/01/2020</label>
                                                </div>
                                            </div>
                                            <!--                                                    fin fecha -->
                                            <div class="row">
                                                <div class="col-2 text-right px-1">
                                                    <label>Hora:</label>
                                                </div>
                                                <div class="col-10">
                                                    <label class="font-weight-bold"><fa-icon [icon]="hora" ></fa-icon>
                                                        9:00 am - 12:00 pm</label>
                                                </div>

                                            </div>
                                            <!--                                                    fin hora  -->
                                            <!--                                                </div>-->
                                            <!--                                            </div>-->
                                        </div>
                                    </div>
                                    <!--                                    FIN RENGLON TEXTO-->
                                    <!--                                    <div class="card-body p-0 texto-card">-->
                                    <hr>
                                    <div class="row px-3">
                                        <div class="col-4">
                                            <a href="#" class="btn btn-link  my-1 btn-block"><fa-icon [icon]="info"></fa-icon> Ver</a>
                                        </div>
                                        <div class="col-4 px-1">
                                            <button class="btn btn-link   my-1 btn-block"><fa-icon [icon]="edit"></fa-icon>Editar</button>
                                        </div>
                                        <div class="col-4 px-1">
                                            <button class="btn btn-link my-1 btn-block"><fa-icon [icon]="delete"></fa-icon>Eliminar</button>
                                        </div>
                                    </div>
                                    <!--                                        fin renglon botons-->

                                    <!--                                    </div>-->

                                </div>
                            </div>
                        </div>
<!--                        fin col 2 -->
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body p-0 texto-card">
                                    <div class="row px-3">
                                        <div class="col-12 px-0 pb-1 pt-0">
                                            <img class="card-img-top img-fluid"  src="assets/img/capacitacion_docente/curso1.png" alt="Card image cap">
                                        </div>
                                    </div>
                                    <!--                                    FIN RENGLON IMG-->
                                    <!--                                    <div class="row text-left px-2">-->
                                    <!--                                        <div class="col-12">-->
                                    <div class="row text-left pl-3">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-2 text-right px-1">
                                                    <label>Curso:</label>
                                                </div>
                                                <div class="col-10">
                                                    <label class="font-weight-bold">Estrategias Docentes en el aula para el fomento de la investigación científica y tecnológica</label>
                                                </div>
                                            </div>
                                            <!--                                                    fin curso-->
                                            <div class="row">
                                                <div class="col-2 text-right px-1" >
                                                    <label>Por:</label>
                                                </div>
                                                <div class="col-10">
                                                    <label class="font-weight-bold"> <a href="#">José Gerardo Carpio Flores</a></label>
                                                </div>
                                            </div>
                                            <!--                                                    fin instructor-->
                                            <div class="row">
                                                <div class="col-2 text-right px-1">
                                                    <label>Área:</label>
                                                </div>
                                                <div class="col-10">
                                                    <label class="font-weight-bold">Sistemas Computacionales</label>
                                                </div>
                                            </div>
                                            <!--                                                    fin area-->
                                            <div class="row">
                                                <div class="col-2  text-right px-1">
                                                    <label>
                                                        Fecha:</label>
                                                </div>
                                                <div class="col-10">
                                                    <label class="font-weight-bold"><fa-icon [icon]="fecha"></fa-icon>
                                                        12/12/2019 - 12/01/2020</label>
                                                </div>
                                            </div>
                                            <!--                                                    fin fecha -->
                                            <div class="row">
                                                <div class="col-2 text-right px-1">
                                                    <label>Hora:</label>
                                                </div>
                                                <div class="col-10">
                                                    <label class="font-weight-bold"><fa-icon [icon]="hora" ></fa-icon>
                                                        9:00 am - 12:00 pm</label>
                                                </div>

                                            </div>
                                            <!--                                                    fin hora  -->
                                            <!--                                                </div>-->
                                            <!--                                            </div>-->
                                        </div>
                                    </div>
                                    <!--                                    FIN RENGLON TEXTO-->
                                    <!--                                    <div class="card-body p-0 texto-card">-->
                                    <hr>
                                    <div class="row px-3">
                                        <div class="col-4">
                                            <a href="#" class="btn btn-link  my-1 btn-block"><fa-icon [icon]="info"></fa-icon> Ver</a>
                                        </div>
                                        <div class="col-4 px-1">
                                            <button class="btn btn-link   my-1 btn-block"><fa-icon [icon]="edit"></fa-icon>Editar</button>
                                        </div>
                                        <div class="col-4 px-1">
                                            <button class="btn btn-link my-1 btn-block"><fa-icon [icon]="delete"></fa-icon>Eliminar</button>
                                        </div>
                                    </div>
                                    <!--                                        fin renglon botons-->

                                    <!--                                    </div>-->

                                </div>
                            </div>
                        </div>
<!--                        fin col 3-->
                </div>
            </div>
            </p-accordionTab>
        </p-accordion>
        </div>
    </div>
</div>
