<h2 class="text-center ">  Periodos</h2>
<br>
<div class="col-md-12 text-center">
    <button class="btn btn-success btn-lg" (click)="mostrarModal()">
        <fa-icon [icon]="add"></fa-icon>
    Agregar periodo
  </button>
</div>
<br>
<div class="row">
    <div class="offset-1 col-md-10">

        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th>No.</th>
                    <th>Nombre periodo</th>
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th>Estado</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody *ngIf="this.lista_periodos != null; else elseLista">
                <!-- <pre>
                    {{this.lista_periodos|json}}

                </pre> -->
                <tr *ngFor="let periodo of this.lista_periodos; let i = index" class="text-center">
                    <td>{{i + 1}}</td>
                    <td>{{periodo.NOMBRE_PERIODO}}<br>
                    {{periodo.FECHA_INICIO | date:'MMMM'| uppercase }}
                    {{periodo.FECHA_INICIO | date:'yyyy' }} -
                    {{periodo.FECHA_FIN | date:'MMMM' | uppercase }}
                    {{periodo.FECHA_FIN | date:'yyyy' }}
                    </td>
                    <td>{{periodo.FECHA_INICIO | date:'dd/MM/yyyy' }}</td>
                    <td>{{periodo.FECHA_FIN | date:'dd/MM/yyyy' }}</td>
                    <td *ngIf="periodo.FECHA_FIN  > this.fecha_actual_sistema; else elseestado" class="text-primary text-uppercase ">En curso
                    </td>
                    <ng-template #elseestado>
                        <td class="text-danger text-uppercase">terminado</td>
                    </ng-template>
                    <!-- BOTONES DE ACCION  -->
                    <td>
                        <button class="btn btn-sm btn-warning" (click)="editar_periodo(periodo.PK_PERIODO_CADO)">
                            <fa-icon [icon]="edit"></fa-icon>
                  Editar
                </button>
                        <button   class="btn btn-sm btn-danger" (click)="eliminar_periodo(periodo.PK_PERIODO_CADO)">
                            <fa-icon [icon]="delete"></fa-icon>
                            Eliminar
                  </button>
                    </td>
                    <!-- FIN BOTONES DE ACCION  -->
                </tr>
            </tbody>
            <ng-template #elseLista>
                <tbody>
                    <tr>
                        <td colspan="6" class="text-center">
                            No se encontraron registros
                        </td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </div>
</div>
<!-- fin tabla  -->
<!-- <pre>
                    {{this.periodo|json}}

                </pre> -->
<!-- Inicio ventana modal para registro de periodos -->
<div bsModal #loaderModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Registro de periodo</h4>
                <button type="button" class="close" (click)="loaderModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- fin header -->
            <!-- cuerpo de captura del un periodo -->
            <div class="modal-body">
                <!-- nombre -->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="nombre_periodo">Nombre del periodo</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="nombre_periodo" name="nombre_periodo" [(ngModel)]="this.periodo.nombre_periodo">
<!--                        todo colocar un select para capturar el nombre del periodo-->
                    </div>
                    <!-- {{this.periodo.fecha_inicio}} -->
                </div>
                <!-- fecha_inicio -->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="fecha_inicio">
                        <fa-icon [icon]="date"></fa-icon>
                        Fecha inicio</label>
                    <div class="col-md-6">
                        <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" [(ngModel)]="this.periodo.fecha_inicio">
                    </div>
                </div>
                <!-- fecha_fin -->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="fecha_fin">
                        <fa-icon [icon]="date"></fa-icon>
                        Fecha fin</label>
                    <div class="col-md-6">
                        <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" [(ngModel)]="this.periodo.fecha_fin">
                    </div>
                </div>
                <!-- estado -->
                <!-- <div class="form-group row"> -->
                <!-- <label class="col-md-4 col-form-label text-right" for="estado_periodo">Estado del periodo</label> -->
                <!-- <div class="col-md-6">
                        <label *ngIf="" class="col-form-label text-right text-primary text-uppercase font-weight-bold" name="estado" for="">
                           {{this.periodo.estado_periodo }}
                        </label> -->
                <!-- <ng-template #elseEstado>
                            <label class="col-form-label text-right text-danger text-uppercase font-weight-bold" name="estado" for="">
                               Terminado
                            </label>
                        </ng-template> -->
                <!-- <select class="form-control" id="estado_periodo" name="estado_periodo" [(ngModel)]="this.periodo.estado_periodo">
                            <option value="-1">* Seleccione una opción</option>
                            <option *ngFor=" let estado of  this.estados_periodo" [value]="estado.clave">{{estado.nombre}}</option>

                        </select> -->
                <!-- </div> -->
                <!-- <pre>
                        {{this.periodo|json}}
                    </pre> -->

                <!-- <div class="col-md-6">
                        <label class="col-form-label text-right text-primary text-uppercase font-weight-bold" [(ngModel)]="this.periodo.estado" name="estado" for="">

                        </label> -->
                <!-- <select class="form-control" id="tipo_periodo" name="tipo_periodo" [(ngModel)]="this.tipo_periodo">
                            <option value="0">* Seleccione una opción</option>
                            <option value="1">Enero - febrero</option>
                            <option value="2">Julio - agosto</option>
                        </select> -->
                <!-- </div> -->
                <!-- </div> -->
            </div>
            <!-- fin body  -->
            <div class="clearfix"></div>
            <div class="modal-footer">

                   <!-- <div class="col-md-6 text-center">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">He verificado la información capturada</label>
                    </div>-->


                    <div class="col-md-12 text-center">
                        <input [(ngModel)]="this.validado"
                               type="checkbox" class="custom-control-input" id="valida">
                        <label class="custom-control-label" for="valida">He verificado la información capturada</label><br><br>
                        <button class="btn btn-primary" [disabled]="!this.validado" (click)="registra_periodo()">
                            <fa-icon [icon]="save"></fa-icon>
                            Registrar</button>
<!--                        <pre>{{this.validado}}</pre>-->
                        <button type="button" class="btn btn-danger" (click)="loaderModal.hide()">
                            <fa-icon [icon]="cancel"></fa-icon>
                            Cancelar</button>
                    </div>

            </div>
        </div>
    </div>
</div>
<!-- Fin ventana modal para registro de periodos -->

<!-- Inicio ventana modal para editar de periodos -->
<div bsModal #loaderModalEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Modificar de periodo</h4>
                <button type="button" class="close" (click)="loaderModalEdit.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- fin header -->
            <!-- cuerpo de captura del un periodo -->
            <div class="modal-body">
                <!-- nombre -->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="nombre_periodo">Nombre del periodo</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="nombre_periodo" [(ngModel)]="this.periodo.nombre_periodo">
                        <!--                        todo colocar un select para capturar el nombre del periodo-->
                    </div>
                    <!-- {{this.periodo.fecha_inicio}} -->
                </div>
                <!-- fecha_inicio -->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="fecha_inicio">
                        <fa-icon [icon]="date"></fa-icon>
                        Fecha inicio</label>
                    <div class="col-md-6">
                        <input type="date" class="form-control" name="fecha_inicio" [(ngModel)]="this.periodo.fecha_inicio">
                    </div>
                </div>
                <!-- fecha_fin -->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="fecha_fin">
                        <fa-icon [icon]="date"></fa-icon>
                        Fecha fin</label>
                    <div class="col-md-6">
                        <input type="date" class="form-control" name="fecha_fin" [(ngModel)]="this.periodo.fecha_fin">
                    </div>
                </div>
                <!-- estado -->
                <!-- <div class="form-group row"> -->
                <!-- <label class="col-md-4 col-form-label text-right" for="estado_periodo">Estado del periodo</label> -->
                <!-- <div class="col-md-6">
                        <label *ngIf="" class="col-form-label text-right text-primary text-uppercase font-weight-bold" name="estado" for="">
                           {{this.periodo.estado_periodo }}
                        </label> -->
                <!-- <ng-template #elseEstado>
                            <label class="col-form-label text-right text-danger text-uppercase font-weight-bold" name="estado" for="">
                               Terminado
                            </label>
                        </ng-template> -->
                <!-- <select class="form-control" id="estado_periodo" name="estado_periodo" [(ngModel)]="this.periodo.estado_periodo">
                            <option value="-1">* Seleccione una opción</option>
                            <option *ngFor=" let estado of  this.estados_periodo" [value]="estado.clave">{{estado.nombre}}</option>

                        </select> -->
                <!-- </div> -->
                <!-- <pre>
                        {{this.periodo|json}}
                    </pre> -->

                <!-- <div class="col-md-6">
                        <label class="col-form-label text-right text-primary text-uppercase font-weight-bold" [(ngModel)]="this.periodo.estado" name="estado" for="">

                        </label> -->
                <!-- <select class="form-control" id="tipo_periodo" name="tipo_periodo" [(ngModel)]="this.tipo_periodo">
                            <option value="0">* Seleccione una opción</option>
                            <option value="1">Enero - febrero</option>
                            <option value="2">Julio - agosto</option>
                        </select> -->
                <!-- </div> -->
                <!-- </div> -->
            </div>
            <!-- fin body  -->
            <div class="clearfix"></div>
            <div class="modal-footer">
                <div class="col-md-12 text-center">
                    <input [(ngModel)]="this.validado"
                           type="checkbox" class="custom-control-input" id="valida2">
                    <label class="custom-control-label" for="valida2">He verificado la información capturada</label><br><br>
                    <button class="btn btn-warning" [disabled]="!this.validado" (click)="modificar_periodo()">
                        <fa-icon [icon]="edit"></fa-icon>
                        Modificar</button>
                    <button type="button" class="btn btn-danger" (click)="loaderModalEdit.hide()">
                        <fa-icon [icon]="cancel"></fa-icon>
                        Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Fin ventana modal PARA EDITAR -->
<!-- INICIO VENTANA MODAL DE CARGA -->
<div bsModal #loaderModal2="bs-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="false"
     [config]="{backdrop: 'static',keyboard: false}" [style.display]="this.display">
    <!--[config]="{backdrop: 'static',keyboard: false}">-->
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"
             style="background-color: rgba(51, 51, 51, 0.8); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0);">
            <app-loader></app-loader>
        </div>
    </div>
</div>
<!-- FIN VENTANA MODAL DE CARGA -->
