<app-404 *ngIf=!mostrarModulo></app-404>
<div class="animated fadeIn" *ngIf=mostrarModulo>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Envia Correo</h4>
        <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="text-input">Asunto</label>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="form.asunto" class="form-control" placeholder="Asunto">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="textarea-input">Mensaje</label>
          <div class="col-md-10">
            <textarea [(ngModel)]="form.mensaje" rows="9" class="form-control" placeholder="Contenido..."></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <select class="form-control" type="text" [(ngModel)]="emailalm" (change)="corrAlm()">
          <option value=null disabled>ELIJA ALUMNO</option>
          <option *ngFor="let mat of correoalm" [ngValue]="mat.email">{{mat.name+' '+mat.PRIMER_APELLIDO+' '+mat.SEGUNDO_APELLIDO}}</option>
        </select>
        <select class="form-control" type="text" [(ngModel)]="emailase" (change)="corrAse()">
            <option value=null disabled>ELIJA ASESOR</option>
            <option *ngFor="let mat of correoase" [ngValue]="mat.email">{{mat.name+' '+mat.PRIMER_APELLIDO+' '+mat.SEGUNDO_APELLIDO}}</option>
        </select>
        <button type="button" class="btn btn-primary" (click)="correoAsesores()">Asesores</button>
        <button type="button" class="btn btn-primary" (click)="correosAlumnos()">Alumnos</button>
        <button type="button" class="btn btn-primary" (click)="correosTodos()">Todos</button>
        <button type="button" class="btn btn-primary" (click)="enviarCorreo()">Enviar</button>
      </div>
    </div>
  </div>
</div>