<app-404 *ngIf=!mostrarModulo></app-404>
<div class="animated fadeIn" *ngIf=mostrarModulo>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="icon-pie-chart"></i>
          <strong>Aspirantes por estatus</strong>
        </div>
        <div class="card-body">
          <canvas id="estatusPieChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="icon-pie-chart"></i>
          <strong>Aspirantes por campus</strong>
        </div>
        <div class="card-body">
          <canvas id="campusPieChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="icon-chart"></i>
          <strong>Aspirantes por carreras</strong>
        </div>
        <div class="card-body">
          <!-- <canvas id="carrerasPieChart"></canvas> -->
          <canvas id="carrerasHorizontalBar"></canvas>
        </div>
      </div>
    </div>
  </div>
<!-- <canvas id="lineChart" ></canvas>
<canvas id="barChart"></canvas>
<canvas id="pieChart"></canvas>  -->
</div>