<app-404 *ngIf=!mostrarModulo></app-404>
<div class="animated fadeIn" *ngIf=mostrarModulo>
<div align=left>
  <h1> PERFIL DEL ESTUDIANTE ASESOR/A</h1>
  <br>
  <h4>Quienes desean participar como ASESOR/A, debe cubrir las siguientes características:</h4>
  <br>
  <h4>• Ser responsable y comprometido.</h4>
  <br>
  <h4>• Tener habilidad en el trabajo con grupos.</h4>
  <br>
  <h4>• Haber obtenido un alto desempeño académico en materias a asesorar, con promedio mínimo de 85 y aprobada en curso ordinario.</h4>
  <br>
  <h4>• Tener disponibilidad de tiempo, de 3 a 5 horas a la semana.</h4>
  <br>
  <h4>• Ser estudiante de tercer semestre o siguientes.</h4>
  <br>
  <h4>• Proporcionar copia de horario y de tu seguimiento académico.</h4>
  <br>
</div>