<h1> INTRODUCCIÓN</h1>
<p>
   Ante los escenarios de la Educación y específicamente de la Educación de Nivel
  Superior, se vislumbra una serie de transformaciones enfocadas a la formación de
  los estudiantes y por tanto se demanda una atención personalizada que puede
  contribuir a abatir dificultades como la reprobación, el rezago escolar, deserción y
  ayudar a mejorar el rendimiento académico y la eficiencia terminal.
  
  El Instituto Tecnológico de León, a través del Departamento de Desarrollo
  Académico y su coordinación de Investigación Educativa, a fin de proporcionar
  una formación integral con una visión humanista y responsable ante las
  necesidades y oportunidades del desarrollo de nuestro país y un aprendizaje
  autodirigido para toda la vida, se ha dado a la tarea de generar alternativas de
  apoyo académico.
  
  El presente documento muestra una descripción del Programa de Asesoría
  Académica entre Estudiantes., la fundamentación, desarrollo, metodología de
  implementación, sistema de evaluación y programas de promoción, difusión y
  captación., así como formatos que optimizan su funcionamiento.
  
  Cabe mencionar que el Programa de Asesoría Académica entre Estudiantes es un
  proceso que plantea una alternativa de apoyo académico para aquellos
  estudiantes que pueden o tienen dificultades en alguna(s) materia(s), consiste en
  guiarlos proactivamente para que obtengan un aprendizaje significativo., Dicho
  proceso es dirigido por estudiantes con excelente desempeño que proporcionan
  asesoría sobre temas que dominan a través de una serie de estrategias, en un
  tiempo extraescolar.
  
  Finalmente se comenta que este manual tiene como objetivo facilitar al
  coordinador o lector un documento que sirva de base y guía para la Mejora
  Continua del Programa.</p>
  
 <h1>I. FUNDAMENTACIÓN SOCIAL</h1>
 <p> 
  1.1 Antecedentes del origen del programa
  En las Instituciones de Educación Superior y particularmente en el Instituto
  Tecnológico de León una de sus preocupaciones ha sido cómo reducir los índices
  de reprobación, se han implementado varias acciones para lo cual se han obtenido
  ciertos resultados, pero no suficientemente satisfactorio como para no seguir
  buscando nuevas alternativas de solución.
  El programa de Asesoría Académica entre Estudiantes, se ha implementado
  desde 1999, y consiste en brindar un apoyo directo a los alumnos que así lo
  soliciten, pero principalmente a los que están inscritos en el primer semestre, ya
  que las estadísticas nos han demostrado un alto índice de reprobación en ese
  periodo pero de igual forma se le brinda el apoyo a alumnos de otros semestres.
  Este programa se diseña en base a la teoría de “Estructuras Paralelas de
  Aprendizaje” o “Estructura Organizacional”
  Este proceso facilita la implementación de innovaciones, trabajando al lado de la
  estructura formal ya existente y sirve para planificar y guiar los programas de
  cambio.
  Llevar este tipo de programa, facilita el aprendizaje y mejora el rendimiento de los
  alumnos, mejoran sus calificaciones y reafirman sus conocimientos.
  
  1.2 Necesidades de los estudiantes del ITL
  La inquietud y preocupación de la Institución por brindar cada vez una mejor
  atención a los alumnos que ingresan, ha implantado varias acciones para cumplir
  con ese propósito.
  Dentro de esas acciones se contempla una que es la de reducir los índices de
  reprobación para poder acreditar satisfactoriamente sus asignaturas, ya que las
  estadísticas de los últimos semestres arrojaron cifras alarmantes.
  Es por ello que este proyecto surgió como otra alternativa para mejorar la situación
  académica de los alumnos.
  Consiste en brindarle al alumno desde sus inicios una confianza, un
  compañerismo y una forma de reforzar lo aprendido por sus maestros, ya que
  dicha asesoría la brindan alumnos que van en semestres más avanzados y con un
  seguimiento académico muy satisfactorio, lo cual permite que puedan ser
  asesores.
  
  Se ha podido constatar que esta opción ha sido de gran ayuda en disminuir los
  índices de reprobación.
  El programa está basado en necesidades actuales del estudiante del Tecnológico
  y hace énfasis en los nuevos modelos de calidad especialmente en el desarrollo
  humano, el cual hacer referencia a las nuevas tendencias de enseñanza-
  razonamiento, que consisten en enseñar lo ya aprendido con anterioridad.</p>
  
<h1> II. FUNDAMENTACIÓN INSTITUCIONAL</h1>
<p> 2.1 Misión
  Formar profesionales íntegros que promuevan la cultura, los valores humanos
</p>