<app-404 *ngIf=!mostrarModulo></app-404>
<div class="animated fadeIn" *ngIf=mostrarModulo>
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-calendar-plus-o fa-lg"></i>
          <strong>Agregar turno</strong>
        </div>
        <div class="card-body">
          <form #turnoForm=ngForm (ngSubmit)="guardarTurno()">
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="dia">Dia:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  </div>
                  <input type="date" class="form-control" name='dia' [(ngModel)]="dia" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="hora">Hora:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                  </div>
                  <select [(ngModel)]="hora" class="form-control" name="hora" required>
                    <option [value]=null>Selecciona</option>
                    <option value="07:00">07:00</option>
                    <option value="12:00">12:00</option>
                    <option value="17:00">17:00</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <button type="submit" value="Submit" class="btn btn-primary"
                  [disabled]="turnoForm.invalid">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-map-marker fa-lg"></i>
          <strong>Agregar espacio</strong>
        </div>
        <div class="card-body">
          <form #espacioForm=ngForm (ngSubmit)="guardarEspacio()">
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="edificio">Edificio:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-building-o"></i></span>
                  </div>
                  <select [(ngModel)]="edificio" class="form-control" name="edificio" required>
                    <option [value]=null>Selecciona</option>
                    <option *ngFor="let edificio of edificioLista" value="{{edificio.PK_EDIFICIO}}">
                      Campus: {{edificio.CAMPUS}} Edificio: {{edificio.EDIFICIO}} Prefijo: {{edificio.PREFIJO}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="tipoEspacio">Tipo de espacio:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-building-o"></i></span>
                  </div>
                  <select [(ngModel)]="tipoEspacio" class="form-control" name="tipoEspacio" required>
                    <option [value]=null>Selecciona</option>
                    <option *ngFor="let tipoEspacio of tipoEspacioLista" value="{{tipoEspacio.PK_TIPO_ESPACIO}}">
                      {{tipoEspacio.NOMBRE}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label for="nombre">Nombre:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-building-o"></i></span>
                  </div>
                  <input [(ngModel)]="nombre" type="text" class="form-control" name="nombre" required>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label for="identificador">Identificador:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-building-o"></i></span>
                  </div>
                  <input [(ngModel)]="identificador" type="text" class="form-control" name="identificador" required>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label for="capacidad">Capacidad:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-building-o"></i></span>
                  </div>
                  <input [(ngModel)]="capacidad" type="number" class="form-control" name="capacidad" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <button type="submit" value="Submit" class="btn btn-primary"
                  [disabled]="espacioForm.invalid">Guardar</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-group fa-lg"></i>
          <strong>Agregar grupo</strong>
        </div>
        <div class="card-body">
          <form #grupoForm=ngForm (ngSubmit)="guardarGrupo()">
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="espacio">Espacio:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                  </div>
                  <select [(ngModel)]="espacio" class="form-control" name="espacio" required>
                    <option [value]=null>Selecciona</option>
                    <option *ngFor="let espacio of espacioLista" value="{{espacio.PK_ESPACIO}}">
                      {{espacio.NOMBRE}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="turno2">Turno:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar-plus-o"></i></span>
                  </div>
                  <select [(ngModel)]="turno2" class="form-control" name="turno2" required>
                    <option [value]=null>Selecciona</option>
                    <option *ngFor="let turno2 of turno2Lista" value="{{turno2.PK_TURNO}}">
                      {{turno2.DIA}} {{turno2.HORA}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <button type="submit" value="Submit" class="btn btn-primary"
                  [disabled]="grupoForm.invalid">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-calendar-plus-o fa-lg"></i>
          <strong>Agregar turno</strong>
        </div>
        <div class="card-body">
          <form #turno2Form=ngForm (ngSubmit)="modificarTurno(turno3)">
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="turno2">Turno:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar-plus-o"></i></span>
                  </div>
                  <select [(ngModel)]="turno3" class="form-control" (change)="cargarTurno(turno3)" name="turno3" required>
                    <option [value]=null>Selecciona</option>
                    <option *ngFor="let turno2 of turno2Lista" value="{{turno2.PK_TURNO}}">
                      Turno {{turno2.TURNO}}: {{turno2.DIA}} {{turno2.HORA}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="dia">Dia:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  </div>
                  <input type="date" class="form-control" name='dia2' [(ngModel)]="dia2" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="hora">Hora:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                  </div>
                  <select [(ngModel)]="hora2" class="form-control" name="hora2" required>
                    <option [value]=null>Selecciona</option>
                    <option value="07:00">07:00</option>
                    <option value="12:00">12:00</option>
                    <option value="17:00">17:00</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <button type="submit" value="Submit" class="btn btn-primary"
                  [disabled]="turno2Form.invalid">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-map-marker fa-lg"></i>
          <strong>Agregar espacio</strong>
        </div>
        <div class="card-body">
          <form #espacio2Form=ngForm (ngSubmit)="modificarEspacio(espacio3)">
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="espacio3">Espacio:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-edit"></i></span>
                  </div>
                  <select [(ngModel)]="espacio3" class="form-control" (change)="cargarEspacio(espacio3)" name="espacio3" required>
                    <option [value]=null>Selecciona</option>
                    <option *ngFor="let espacio3 of espacioLista" value="{{espacio3.PK_ESPACIO}}">
                      Espacio {{espacio3.ESPACIO}}: {{espacio3.NOMBRE}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="edificio2">Edificio:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-building-o"></i></span>
                  </div>
                  <select [(ngModel)]="edificio2" class="form-control" name="edificio2" required>
                    <option [value]=null>Selecciona</option>
                    <option *ngFor="let edificio2 of edificioLista" value="{{edificio2.PK_EDIFICIO}}">
                      Campus: {{edificio2.CAMPUS}} Edificio: {{edificio2.EDIFICIO}} Prefijo: {{edificio2.PREFIJO}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="tipoEspacio2">Tipo de espacio:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-building-o"></i></span>
                  </div>
                  <select [(ngModel)]="tipoEspacio2" class="form-control" name="tipoEspacio2" required>
                    <option [value]=null>Selecciona</option>
                    <option *ngFor="let tipoEspacio2 of tipoEspacioLista" value="{{tipoEspacio2.PK_TIPO_ESPACIO}}">
                      {{tipoEspacio2.NOMBRE}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
                <label for="nombre2">Nombre:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-building-o"></i></span>
                  </div>
                  <input [(ngModel)]="nombre2" type="text" class="form-control" name="nombre2" required>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label for="identificador2">Identificador:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-building-o"></i></span>
                  </div>
                  <input [(ngModel)]="identificador2" type="text" class="form-control" name="identificador2" required>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label for="capacidad2">Capacidad:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-building-o"></i></span>
                  </div>
                  <input [(ngModel)]="capacidad2" type="number" class="form-control" name="capacidad2" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <button type="submit" value="Submit" class="btn btn-primary"
                  [disabled]="espacio2Form.invalid">Guardar</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-group fa-lg"></i>
          <strong>Agregar grupo</strong>
        </div>
        <div class="card-body">
          <form #grupo2Form=ngForm (ngSubmit)="modificarGrupo(grupo2)">
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="grupo2">Grupo:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-edit"></i></span>
                  </div>
                  <select [(ngModel)]="grupo2" class="form-control" (change)="cargarGrupo(grupo2)"  name="grupo2" required>
                    <option [value]=null>Selecciona</option>
                    <option *ngFor="let grupo2 of grupoLista" value="{{grupo2.PK_EXAMEN_ADMISION}}">
                      Grupo {{grupo2.GRUPO}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="espacio2">Espacio:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                  </div>
                  <select [(ngModel)]="espacio2" class="form-control" name="espacio2" required>
                    <option [value]=null>Selecciona</option>
                    <option *ngFor="let espacio of espacioLista" value="{{espacio.PK_ESPACIO}}">
                      {{espacio.NOMBRE}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="turno4">Turno:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar-plus-o"></i></span>
                  </div>
                  <select [(ngModel)]="turno4" class="form-control" name="turno4" required>
                    <option [value]=null>Selecciona</option>
                    <option *ngFor="let turno of turno2Lista" value="{{turno.PK_TURNO}}">
                      {{turno.DIA}} {{turno.HORA}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <button type="submit" value="Submit" class="btn btn-primary"
                  [disabled]="grupo2Form.invalid">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>