<div class="card">
    <table class="table" >
      <thead>
      <tr class="card-header">
        <th>Id</th>
        <th>Nombre</th>
        <th>Empresa</th>
        <th>Comentarios</th>
        <th>Seleccionar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let antep of anteproyectosLista">
        <td>{{antep.ID_ANTEPROYECTO}}</td>
        <td>{{ antep.NOMBRE }}</td>
        <td>{{ antep.EMPRESA }}</td>
        <td>{{ antep.COMENTARIO }}</td>
        <td>  <label class="btn btn-dark">
          Seleccionar<input type="submit" value="submit" name="submit" hidden (click)="uploadFile(antep.ID_ANTEPROYECTO)">
        </label></td>
      </tr>
      </tbody>
    </table>
</div>
