<div class="animated fadeIn">
  <div class="row">
      <h3>Current user profile</h3>
      <div>
        <p>Roles: <b *ngFor="let usuarioRoles of usuarioRolesLista">{{usuarioRoles.FK_ROL}}</b></p>
      </div>
      
      <form #rolesForm="ngForm">
          <label for="name">Name</label>
            <ul>             
             <li *ngFor="let role of allRoles; let idx = index">
               <input type="checkbox" [checked]="role.checked"  value="{{role.name}}" name="appliedFilters" (change)="toggleSelection(idx, role.name)" /> {{role.name}}
             </li>
            </ul>   
            <app-altas *ngIf="verificarRoles()"></app-altas>
      </form>
  </div>
</div>