<main class="main d-flex align-items-center">
  <div class="container">
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Datos Personales:</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="curp">CURP:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <input type="text" class="form-control" id="curp" size=18 maxlength=18 onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase().replace(' ','')">

              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <a href="https://www.gob.mx/curp/" target="_blank"><button type="button" class="btn btn-block btn-primary">Consulta de CURP</button></a>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <input type="text" class="form-control" id="nombre">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="pApellido">Primer Apellido:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <input type="text" class="form-control" id="pApellido">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="sApellido">Segundo Apellido:</label>
                <input type="text" class="form-control" id="sApellido">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <input type="text" class="form-control" id="fechaNacimiento">
                <p>Ejemplo: 1994-12-03</p>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="genero">Género:</label>
              <label style="color:#ff0000;" for="asterisco">*</label>
              <select class="form-control" id="genero">
                <option>Selecciona</option>
                <option>Masculino</option>
                <option>Femenino</option>
              </select>
            </div>
            <div class="form-group col-sm-6">
              <label for="edoCivil">Estado Civil:</label>
              <label style="color:#ff0000;" for="asterisco">*</label>
              <select class="form-control" id="edoCivil">
                <option>Selecciona</option>
                <option *ngFor="let estadoCivil of estadoCivilLista" value="{{estadoCivil.PK_ESTADO_CIVIL}}">{{estadoCivil.NOMBRE}}</option>
              </select>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
      <!--Datos personales-->
      <div class="card">
        <div class="card-header">
          <strong>Datos de Contacto:</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="calle">Calle:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <input type="text" class="form-control" id="calle">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="numExt">Número Exterior:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <input type="text" class="form-control" id="numExt">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="numInt">Número Interior:</label>
                <input type="text" class="form-control" id="numInt">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="colonia">Colonia:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <input type="text" class="form-control" id="colonia">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="localidad">Localidad:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <input type="text" class="form-control" id="localidad">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="cp">Código Postal:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <input type="text" class="form-control" id="cp">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="tFijo">Teléfono Fijo:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <input type="text" class="form-control" id="tFijo">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="celular">Teléfono Celular:</label>
                <input type="text" class="form-control" id="celular">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="correo">Correo Electrónico:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <input type="text" class="form-control" id="correo">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="correo2">Confirma tu correo electrónico:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <input type="text" class="form-control" id="correo2" oncopy="return false" onpaste="return false">
              </div>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
      <!--Datos de contato-->
      <div class="card">
      <div class="card-header">
        <strong>Datos de Padre(s) o Tutor(es):</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="nombrePadre">Nombre de Padre/Tutor:</label>
              <label style="color:#ff0000;" for="asterisco">*</label>
              <input type="text" class="form-control" id="nombrePadre">
            </div>
          </div>
        </div>
        <!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="nombreMadre">Nombre de Madre:</label>
              <input type="text" class="form-control" id="nombreMadre">
            </div>
          </div>
        </div>
        <!--/.row-->
      </div>
    </div>
      <!--Datos de Padre(s) o Tutor(es):-->
      <div class="card">
        <div class="card-header">
          <strong>Actualmente, ¿tienes alguna discapacidad? :</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="form-check checkbox">
                  <input class="form-check-input" type="checkbox" value="ninguna" id="cbNinguna">
                  <label class="form-check-label">
                    Ninguna
                  </label>
                </div>
                <div *ngFor="let incapacidad of incapacidadLista" class="form-check checkbox">
                  <input class="form-check-input" type="checkbox" value="{{incapacidad.PK_INCAPACIDAD}}" id="cb{{incapacidad.NOMBRE}}">
                  <label class="form-check-label">
                    {{incapacidad.NOMBRE}}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ayuda">¿Qué tipo de ayuda necesitas?</label>
                <input type="text" class="form-control" id="ayuda">
              </div>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
      <!--Actualmente, ¿tienes alguna discapacidad? :-->
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Nacionalidad:</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nacioPais">Pais:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <select class="form-control" id="nacioPais">
                  <option>Selecciona</option>
                  <option value=0>México​</option>
                  <option value=1>Otro</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nacioEntidadFederativa">Estado:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <select [(ngModel)]="opcionEntidadFederativa" (change)="capturar()"
                class="form-control" id="nacioEntidadFederativa"
                >
                  <option value=0>Selecciona</option>
                  <option *ngFor="let entidadFederativa of entidadFederativaLista" value="{{entidadFederativa.PK_ENTIDAD_FEDERATIVA}}">{{entidadFederativa.NOMBRE}}</option>  
                </select>
                <p [hidden]="opcionEntidadFederativa == '0'">Haz seleccionado la opción # {{ opcionEntidadFederativa }}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nacioCiudad">Ciudad:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <select class="form-control" id="nacioCiudad">
                  <option value=0>Selecciona</option>
                  <option *ngFor="let ciudad of ciudadLista" value="{{ciudad.PK_CIUDAD}}">{{ciudad.NOMBRE}}</option>  
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nacionalidad">Nacionalidad:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <input type="text" class="form-control" id="nacionalidad">
              </div>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
      <!--Nacionalidad-->
      <p style="text-align: justify;" id="textoCarrera" >
        En el programa a cursar primera opción,
        elige la carrera a la que más quieras ingresar. Como 2ª.
        opción escoge aquella que de no poder estudiar tu primera opción,
        tampoco te desagradaría ingresar.
        Dependiendo de tu resultado en los exámenes, puedes ser admitido(a) en
        cualquiera de las dos opciones.
      </p>
      <div class="card">
        <div class="card-header">
          <strong>Carreras:</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="especialidadUno">Especialidad 1:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <select class="form-control" id="especialidad1">
                  <option>Selecciona</option>
                  <option *ngFor="let carrera of carreraLista" value="{{carrera.PK_CARRERA}}">{{carrera.NOMBRE}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="especialidadDos">Especialidad 2:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <select class="form-control" id="especialidad2">
                  <option>Selecciona</option>
                  <option *ngFor="let carrera of carreraLista" value="{{carrera.PK_CARRERA}}">{{carrera.NOMBRE}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Carreras-->
      <div class="card">
        <div class="card-header">
          <strong>Lugar donde realizó estudios:</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="escuelaEstado">Estado:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <select class="form-control" id="escuelaEstado">
                  <option>Selecciona</option>
                  <option>Soltero(a)</option>
                  <option>Casado(a)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="escuelaMunicio">Municio:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <select class="form-control" id="escuelaMunicio">
                  <option>Selecciona</option>
                  <option>Soltero(a)</option>
                  <option>Casado(a)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="escuela">Escuela procendencia:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <select class="form-control" id="escuela">
                  <option>Selecciona</option>
                  <option>Soltero(a)</option>
                  <option>Casado(a)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="especialidad">Especialidad:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <input type="text" class="form-control" id="especialidad">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="promedio">Promedio:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <input type="text" class="form-control" id="promedio">
              </div>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
      <!--Lugar donde realizó estudios-->
      <div class="card">
        <div class="card-header">
          <strong>Piensas solicitar ficha en otra institución?:</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="institucion">En que institución?:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <select class="form-control" id="institucion">
                  <option>Selecciona</option>
                  <option>Soltero(a)</option>
                  <option>Casado(a)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="carrera">Carrera:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <select class="form-control" id="carrera">
                  <option>Selecciona</option>
                  <option>Soltero(a)</option>
                  <option>Casado(a)</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Piensas solicitar ficha en otra institución?-->
      <div class="card">
        <div class="card-header">
          <strong>Datos extra:</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="dependencia">De quién dependes económicamente:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <select class="form-control" id="dependencia">
                  <option>Selecciona</option>
                  <option *ngFor="let dependencia of dependenciaLista" value="{{dependencia.PK_DEPENDENCIA}}">{{dependencia.NOMBRE}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="trabajas">Trabajas además de estudiar:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <select class="form-control" id="trabajas">
                  <option>Selecciona</option>
                  <option>Si</option>
                  <option>No</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="propaganda">Cómo te enteraste del Instituto Tecnológico de León:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <select class="form-control" id="propaganda">
                  <option>Selecciona</option>
                  <option *ngFor="let propagandaTecnologico of propagandaTecnologicoLista" value="{{propagandaTecnologico.PK_PROPAGANDA_TECNOLOGICO}}">{{propagandaTecnologico.NOMBRE}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Datos extra-->
      <div class="card">
        <div class="card-header">
          <strong>Aviso de privacidad:</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="dependencia">Estoy de acuerdo que la información proporcionada en el formulario de registro en todos sus campos son datos válidos y sirvan para poder utilizar los servicios de acuerdo a ley.</label>
                <a href="https://www.itleon.edu.mx/index.php?option=com_content&view=article&id=126:aviso-de-privacidad&catid=2&Itemid=101" target="_blank">
                  Aviso de Privacidad
                </a>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-block btn-primary col-sm-2">Aceptar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Aviso de privacidad-->
    </div>
  </div>
  <!--/.colDatosPersonales-->
</div>

</div>
</main>