<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Fecha para registro de solicitudes:</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Fecha inicio:</label>
                    <label style="color:#ff0000;" for="asterisco">*</label>                  
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>      
                  <input type="date" (change)="vaciarFechaFinal()" class="form-control" id='fechaInicio' [(ngModel)]="fechaInicio"> 
                </div>
               </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Fecha final:</label>
                    <label style="color:#ff0000;" for="asterisco">*</label>                  
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>      
                  <input type="date" (change)="validarFechas()" class="form-control" id='fechaFinal' [(ngModel)]="fechaFinal"> 
                </div>
               </div>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <div class="form-group">
                        <!-- <button type="button" class="btn btn-block btn-primary">Guardar</button> -->
                        <button type="button" class="btn btn-sm btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>