<app-404 *ngIf=!mostrarModulo></app-404>
<div class="animated fadeIn" *ngIf=mostrarModulo>
    <div class="row">
        <div class="offset-2 col-md-8">
            <div class="card">
                <h2 class="card-header">Habilitar residentes</h2>
                <div class="card-body" style="text-align: center">
                    <label class="btn btn-dark">
                        Habilitar <input type="submit" value="submit" name="submit" hidden (click)="habilitarAlumnos()"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-md-8">
            <div class="card">
                <h2 class="card-header">Deshabilitar</h2>
                <div class="card-body" style="text-align: center">
                    <label class="btn btn-dark">
                        Deshabilitar <input type="submit" value="submit" name="submit" hidden
                                            (click)="deshabilitarAlumnos()"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-md-8">
            <div class="card">
                <h2 class="card-header">Dar de baja alumno</h2>
                <div class="card-body" style="text-align: center">
                    <input [(ngModel)]="nocontrol" class="form-control form-control-lg" type="text"><br>
                    <label class="btn btn-dark">
                        Dar de baja <input type="submit" value="submit" name="submit" hidden
                                           (click)="bajaAlumnos()"></label>
                </div>
            </div>
        </div>
    </div>
</div>
