<h2 class="text-center">Coordinadores departamentales de tutoría</h2>

<div class="row">
    <div class="offset-1 col-md-10">

        <br>
        <div class="col-dm-12 text-center">
            <button class="btn btn-success" (click)="loaderModal.show()">
                Modificar coordinador
            </button>
        </div>
        <br>

        <!-- Inicio de tabla de coordiandores -->
        <table class="table table-striped">
            <thead>
            <tr class="text-center">
                <th>No.</th>
                <th>Número de SIIA</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Área que coordina</th>
                <th>Operaciones</th>
            </tr>
            </thead>
            <tbody *ngIf="this.lista_coordinadores.length > 0; else elseBlock">
            <tr class="text-center" *ngFor="let coordinador of this.lista_coordinadores; let i = index">
                <td>{{i + 1}}</td>
                <td>{{coordinador.NUMERO_CONTROL}}</td>
                <td>{{coordinador.NOMBRE}} {{coordinador.PRIMER_APELLIDO}} {{coordinador.SEGUNDO_APELLIDO}}</td>
                <td>
                    {{coordinador.CORREO1}}
                    <br>
                    {{coordinador.CORREO_INSTITUCIONAL}}
                </td>
                <td>
                    {{coordinador.AREA_ACADEMICA}}
                </td>
                <td>
                    <button class="btn btn-sm btn-danger" tooltip="Eliminar el rol de coordinador departamental"
                    (click)="eliminar_coordinador(coordinador.PK_AREA_ACADEMICA)">
                        Eliminar
                    </button>
                </td>
            </tr>
            </tbody>
            <ng-template #elseBlock>
                <tbody>
                <tr class="text-center">
                    <td colspan="6">No se encontraron encuestas pendientes</td>
                </tr>
                </tbody>
            </ng-template>
        </table>
        <!-- Inicio de tabla de coordiandores -->
    </div>
</div>

<!-- Inicio ventana modal para cambio/asignación de coordinador -->
<div bsModal #loaderModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Modificar coordinador depatamental</h4>
                <button type="button" class="close" (click)="ocultar_modal_coordinadores()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="area_academica">Área académica</label>
                    <div class="col-md-6">
                        <select class="form-control" id="area_academica" name="area_academica"
                                (change)="busca_coordinador_actual()" [(ngModel)]="this.select_area_academica">
                            <option value="0">* Seleccione una opción</option>
                            <option *ngFor="let area_academica of this.areas_academicas"
                                    value="{{area_academica.PK_AREA_ACADEMICA}}">
                                {{area_academica.NOMBRE}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="coordinador_actual">Coordinador
                        actual</label>
                    <div class="col-md-6">
                        <input class="form-control" id="coordinador_actual" name="coordinador_actual"
                               [(ngModel)]="this.coordinador_actual" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="coordinador_nuevo">Coordinador nuevo</label>
                    <div class="col-md-6">
                        <input class="form-control" placeholder="NOMBRE(S) Y/O APELLIDO(S)" id="coordinador_nuevo"
                               name="coordinador_nuevo"
                               [(ngModel)]="this.nuevo_coordinador">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <button class="btn btn-secondary" (click)="buscar_usuarios()">Buscar</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group row">
                    <div class="col-md-8 offset-md-2">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">No. SIIA</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Seleccionar</th>
                            </tr>
                            </thead>
                            <tbody *ngIf="this.lista_usuarios.length > 0; else listaElse">
                            <tr *ngFor="let usuario of lista_usuarios" class="text-center">
                                <td>
                                    {{usuario.NUMERO_CONTROL}}
                                </td>
                                <td>
                                    {{usuario.NOMBRE}} {{usuario.PRIMER_APELLIDO}} {{usuario.SEGUNDO_APELLIDO}}
                                </td>
                                <td>
                                    <input type="radio" name="radio_coordinador"
                                           (click)="seleccionado(usuario.PK_USUARIO)">
                                </td>
                            </tr>
                            </tbody>
                            <ng-template #listaElse>
                                <tbody>
                                <tr>
                                    <td colspan="3" class="text-center">No se encontraron resultados</td>
                                </tr>
                                </tbody>
                            </ng-template>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-primary" (click)="guardar_coordinador()">Guardar</button>
                    <button type="button" class="btn btn-danger" (click)="ocultar_modal_coordinadores()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin ventana modal para cambio/asignación de coordinador -->
