<app-404 *ngIf=!mostrarModulo></app-404>
<div class="animated fadeIn" *ngIf=mostrarModulo>
<div *ngIf="visasesor">
  <nav>
    <ul class="pagination pull-right float-sm-right">
      <li class="page-item {{select1}}"><a class="page-link" style="cursor: pointer"
          (click)="mostrarRegistros('2')">2</a></li>
      <li class="page-item {{select2}}"><a class="page-link" style="cursor: pointer"
          (click)="mostrarRegistros('5')">5</a></li>
      <li class="page-item {{select3}}"><a class="page-link" style="cursor: pointer"
          (click)="mostrarRegistros('10')">10</a></li>
      <li class="page-item {{select4}}"><a class="page-link" style="cursor: pointer"
          (click)="mostrarRegistros('todos')">Mostrar todos</a></li>
    </ul>
  </nav>
  <table class="table table-bordered table-striped table-sm">
    <thead>
      <tr>
        <th scope="row">#</th>
        <th>NOMBRE</th>
        <th>NÚMERO CONTROL</th>
        <th>CARRERA</th>
        <th>MATERIA</th>
        <th>DÍA</th>
        <th>HORA</th>
        <th>CAMPUS</th>
        <th>ESPACIO</th>
        <th>PERIODO</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let asesor of asesor | paginate: {itemsPerPage: registrosPagina, currentPage:pageActual, id: 'first' } let i = index">
        <td>{{i+1}}</td>
        <td>{{asesor.name+' '+asesor.PRIMER_APELLIDO+' '+asesor.SEGUNDO_APELLIDO}}</td>
        <td>{{asesor.NUMERO_CONTROL}}</td>
        <td>{{asesor.CLAVE_CARRERA}}</td>
        <td>{{asesor.MATERIA}}</td>
        <td>{{asesor.DIA}}</td>
        <td>{{asesor.HORA}}</td>
        <td>{{asesor.CAMPUS}}</td>
        <td>{{asesor.ESPACIO}}</td>
        <td>{{asesor.PERIODO}}</td>
      </tr>
    </tbody>
  </table>

  <!-- "PRIMER_APELLIDO": "CHAVEZ",
        "SEGUNDO_APELLIDO": "BARAJAS",
        "name": "EDUARDO DE JESUS",
        "NUMERO_CONTROL": "14240683",
        "CLAVE_CARRERA": "ISC",
        "MATERIA": "ACTIVIDADES EXTRACURRICULARES PARA PRIMER SEMESTRE",
        "DIA": "LUNES",
        "HORA": "7:00-8:40",
        "CAMPUS": "CAMPUS I",
        "ESPACIO": "ESPACIO I",
        "PERIODO": "20191" -->

  <div class="d-flex justify-content-center">
    <pagination-controls id="first" class="myPagination" previousLabel="" nextLabel="" maxSize="10"
      (pageChange)="pageActual = $event">
    </pagination-controls>
  </div>
</div>
<div *ngIf="visasesor">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Envía Correo</h4>
        <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="text-input">Asunto</label>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="form.asunto" class="form-control" placeholder="Asunto">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="textarea-input">Mensaje</label>
          <div class="col-md-10">
            <textarea [(ngModel)]="form.mensaje" rows="9" class="form-control" placeholder="Contenido..."></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="correosAlumnos()">Asesor</button>
        <button type="button" class="btn btn-primary" (click)="enviarCorreo()">Enviar</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="vis">
  <h1>AUN NO SE TE AH ASIGNADO ASESOR, TE SUGERIMOS ACUDIR A EL AREA DE LA MATERIA SOLICITADA EN ASESORIA
    PARA SOLICITAR APOYO DE UN DOCENTE ASESOR
    <br>
    CUANDO SE TE ASIGNE ASESOR EN ESTE APARTADO SE TE NOTIFICARA
  </h1>
  
</div>
</div>