<app-404 *ngIf=!mostrarModulo></app-404>
<div class="animated fadeIn" *ngIf=mostrarModulo>
  <form>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Listas de grupos:</strong>
          </div>
          <div class="card-body">
            <div class="row" *ngIf=mostrarGrupo>
              <div class="form-group col-sm-12">
                <label for="grupo">Grupo:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-edit"></i></span>
                  </div>
                  <select [(ngModel)]="grupo" class="form-control" (change)="cargarGrupo(grupo)" name="grupo" required>
                    <option [value]=null>Selecciona</option>
                    <option *ngFor="let grupo of gruposLista" value="{{grupo.PK_EXAMEN_ADMISION}}">
                      Grupo {{grupo.GRUPO}}: Lugar: {{grupo.NOMBRE}}-{{grupo.IDENTIFICADOR}} Fecha: {{grupo.DIA}}
                      {{grupo.HORA}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row" *ngIf=!mostrarGrupo>
              <div class="form-group col-sm-12">
                <label for="grupoEscrito">Grupo:</label>
                <label style="color:#ff0000;" for="asterisco">*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-edit"></i></span>
                  </div>
                  <select [(ngModel)]="grupoEscrito" class="form-control" (change)="cargarGrupoEscrito(grupoEscrito)"
                    name="grupoEscrito" required>
                    <option [value]=null>Selecciona</option>
                    <option *ngFor="let grupoEscrito of gruposLista"
                      value="{{grupoEscrito.PK_EXAMEN_ADMISION_ESCRITO}}">
                      Grupo {{grupoEscrito.GRUPO}} Carrera {{grupoEscrito.CARRERA}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th scope="row">#</th>
                  <th>NOMBRE</th>
                  <th>PREFICHA</th>
                  <th>CARRERA</th>
                  <th>FOLIO CENEVAL</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let aspirante of aspirantes let i = index">
                  <td>{{i+1}}</td>
                  <td>{{aspirante.NOMBRE}} {{aspirante.PRIMER_APELLIDO}} {{aspirante.SEGUNDO_APELLIDO}}</td>
                  <td>{{aspirante.PREFICHA}}</td>
                  <td>{{aspirante.CLAVE_CARRERA}}</td>
                  <td>{{aspirante.FOLIO_CENEVAL}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>