<app-404 *ngIf=!mostrarModulo></app-404>
<div class="animated fadeIn" *ngIf=mostrarModulo>
    <div style="align-content: center">
        <div class="row">
            <div class="offset-1 col-md-10">
                <div class="card">
                    <h2 class="card-header">Proyecto</h2>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit()">
                            <input [(ngModel)]="id" type="text" class="form-control form-control-lg"
                                   placeholder="Id Proyecto"
                                   name="id">
                            <div style="text-align: center;"><br>
                                <button class="btn btn-dark" type="submit" value="Submit">Buscar</button>
                                <br><br></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="offset-1 col-md-10">
                <div class="card">
                    <form (ngSubmit)="onUpdate($event)">
                        <table class="table">
                            <thead>
                            <tr>
                                <!--<div class="card-header">-->
                                    <th>Nombre</th>
                                    <th>Alumno</th>
                                    <th>Estatus</th>
                                    <th>Area Academica</th>
                                    <th>Autor</th>
                                    <th>Empresa</th>
                                    <th>Comentarios</th>
                                <!--</div>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let antep of anteproyectosLista">
                                <!--<div class="card-body">-->
                                    <td><input type="text" name="Nombre" id="Nombre" [value]="antep.NOMBRE"></td>
                                    <td><input type="text" name="Alumno" id="Alumno" [value]="antep.ALUMNO"></td>
                                    <td><input type="text" name="Estatus" id="Estatus" [value]="antep.ESTATUS"></td>
                                    <td><input type="text" name="AreaAcademica" id="AreaAcademica"
                                               [value]="antep.AREA_ACADEMICA">
                                    </td>
                                    <td><input type="text" name="Autor" id="Autor" [value]="antep.AUTOR"></td>
                                    <td><input type="text" name="Empresa" id="Empresa" [value]="antep.EMPRESA"></td>
                                    <td><input type="text" name="Comentario" id="Comentario" [value]="antep.COMENTARIO">
                                    </td>
                                <!--</div>-->
                            </tr>
                            </tbody>

                        </table>
                        <div style="text-align: center;"><br>
                            <button class="btn btn-dark" type="submit" value="Submit">Actualizar</button>
                            <br><br></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
