<app-404 *ngIf=!mostrarModulo></app-404>
<div class="animated fadeIn" *ngIf=mostrarModulo>
    <div class="row">
        <div class="offset-2 col-md-8">
            <div class="card">
                <div style="text-align: center;">
                    <h2 class="card-header">Correo junta informativa</h2>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()">
                        <div>
                            <br>
                            <p><b>Dia:</b><input [(ngModel)]="dia" class="form-control form-control-lg" type="text"
                                                 placeholder="Fecha" name="dia"></p><br>
                            <p><b>Hora:</b><input [(ngModel)]="hora" class="form-control form-control-lg" type="text"
                                                  placeholder="Hora" name="hora">&nbsp;</p><br>
                            <p><b>Lugar:</b><input [(ngModel)]="lugar" class="form-control form-control-lg" type="text"
                                                   placeholder="Lugar" name="lugar">&nbsp;</p><br>
                        </div>
                        <br/>
                        <input [(ngModel)]="persona" class="form-control form-control-lg" type="text"
                               placeholder="Nombre/Puesto" name="persona">
                        <div style="text-align: center;">
                            <br>
                            <button class="btn btn-dark" type="submit" value="Submit">Enviar correo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
