<h2 class="text-center">Administración de jornadas/conferencias</h2>
<!--
<br><br>
<div class="alert alert-danger" [hidden]="!error">
    {{error}}
</div>
-->
<br><br>

<div class="row">
    <div class="offset-1 col-md-10">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary btn-lg" (click)="mostrar_modal_registro()">
                    Registrar jornada/conferencia
                </button>
            </div>
        </div>
        <br>
        <!-- Inicio de grupos -->
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr class="text-center">
                <th>No.</th>
                <th>Nombre expositor</th>
                <th>Tema</th>
                <th>Fecha</th>
                <th>Lugar</th>
                <th>Descripción</th>
                <!--<th>Currículum</th>-->
                <th>Estado</th>
                <th>Operaciones</th>
            </tr>
            </thead>
            <tbody *ngIf="this.lista_conferencias.length > 0; else elseBlock">
            <tr class="text-center" *ngFor="let conferencia of this.lista_conferencias; let i = index">
                <td>{{i + 1}}</td>
                <td>{{conferencia.NOMBRE_EXPOSITOR}}</td>
                <td>{{conferencia.TEMA}}</td>
                <td>{{conferencia.FECHA}}</td>
                <td>{{conferencia.LUGAR}}</td>
                <td>{{conferencia.DESCRIPCION}}</td>
                <!--<td>{{conferencia.CURRICULUM_EXPOSITOR}}</td>-->
                <td>{{conferencia.ESTADO}}</td>
                <td>
                    <a [routerLink]="['/tutorias/fb7da0f7e284eaab3b5e96338ba01c63']"
                       [queryParams]="{conferencia: conferencia.PK_JORNADA}"
                       class="btn btn-primary btn-sm" tooltip="Ver detalles de invitación">
                        <i class="icon-list"></i>
                    </a>
                    <button (click)="editar_capturistas(conferencia.PK_JORNADA)"
                            class="btn btn-secondary btn-sm" tooltip="Editar usuarios capturistas de asistencia">
                        <i class="icon-user"></i>
                    </button>
                    <button (click)="editar_conferencia(conferencia.PK_JORNADA)"
                            class="btn btn-warning btn-sm" tooltip="Editar datos de la conferencia">
                        <i class="icon-check"></i>
                    </button>
                    <button (click)="eliminar_conferencia(conferencia.PK_JORNADA)"
                            class="btn btn-danger btn-sm" tooltip="Eliminar conferencia e invitaciones">
                        <i class="icon-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
            <ng-template #elseBlock>
                <tbody>
                <tr class="text-center">
                    <td colspan="9">No se encontraron datos</td>
                </tr>
                </tbody>
            </ng-template>
        </table>
        <!-- Fin grupos -->
    </div>
</div>

<!-- MODAL CAPTURISTAS -->
<div bsModal #modal_capturistas="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h3">Usuarios capturistas de asistencia</p>
                <button type="button" class="close" (click)="this.cerrar_modal_capturistas()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="numero_control">
                        Número de control
                    </label>
                    <div class="col-md-5 input-group">
                        <input type="text" id="numero_control" class="form-control" [(ngModel)]="this.numero_control"
                               aria-describedby="boton_buscar">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="boton_buscar"
                                    (click)="this.busca_capturista()">
                                <span class="icon-magnifier"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group row" *ngIf="this.capturista_busqueda.nombre != ''">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr class="text-center">
                                <th>Número de control</th>
                                <th>Nombre</th>
                                <th>Agregar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center">
                                <td>{{this.capturista_busqueda.numero_control}}</td>
                                <td>{{this.capturista_busqueda.nombre}}</td>
                                <td>
                                    <button class="btn btn-primary" tooltip="Agregar a lista de capturistas"
                                            (click)="agrega_capturista()">
                                        <i class="icon-plus"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="form-group row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p class="h4 text-center">Lista de capturistas</p>
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr class="text-center">
                                <th>Número de control</th>
                                <th>Nombre</th>
                                <th>Eliminar</th>
                            </tr>
                            </thead>
                            <tbody *ngIf="this.lista_capturistas.length > 0">
                            <tr class="text-center" *ngFor="let capturista of this.lista_capturistas">
                                <td>{{capturista.NUMERO_CONTROL}}</td>
                                <td>{{capturista.NOMBRE}} {{capturista.PRIMER_APELLIDO}} {{capturista.SEGUNDO_APELLIDO}}</td>
                                <td>
                                    <button class="btn btn-danger" tooltip="Eliminar"
                                            (click)="this.eliminar_capturista(capturista.PK_CAPTURISTA)">
                                        <i class="icon-plus"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tbody *ngIf="this.lista_capturistas.length == 0">
                            <tr class="text-center">
                                <td colspan="3">No se han registrado datos</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <!--<div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="numero_control">
                        Número de control
                    </label>
                    <div class="col-md-6">
                        <input class="form-control" formControlName="numero_control" id="numero_control">
                    </div>
                </div>-->
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <!--<div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger" (click)="this.modal_registro.hide()">
                        Cancelar
                    </button>
                </div>-->
            </div>
        </div>
    </div>
</div>
<!-- /MODAL CAPTURISTAS -->


<!-- INICIO VENTANA MODAL DE REGISTRO -->
<div bsModal #modal_registro="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h3">Crear jornada/conferencia</p>
                <button type="button" class="close" (click)="this.modal_registro.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" [formGroup]="this.formulario_registro" (ngSubmit)="this.onSubmitRegistro()">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right" for="tema">
                            Tema
                        </label>
                        <div class="col-md-6">
                            <input class="form-control" formControlName="tema" id="tema">
                            <div class="text-danger" *ngIf="this.form_enviado && this.form_errors.tema.errors">
                                * Ingrese un dato válido
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right" for="nombre_expositor">
                            Ponente
                        </label>
                        <div class="col-md-6">
                            <input class="form-control" formControlName="nombre_expositor" id="nombre_expositor">
                            <div class="text-danger"
                                 *ngIf="this.form_enviado && this.form_errors.nombre_expositor.errors">
                                * Ingrese un dato válido
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right" for="fecha">
                            Fecha
                        </label>
                        <div class="col-md-6">
                            <input class="form-control" formControlName="fecha" id="fecha" type="date">
                            <div class="text-danger" *ngIf="this.form_enviado && this.form_errors.fecha.errors">
                                * Ingrese un dato válido
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right" for="lugar">
                            Lugar
                        </label>
                        <div class="col-md-6">
                            <input class="form-control" formControlName="lugar" id="lugar">
                            <div class="text-danger" *ngIf="this.form_enviado && this.form_errors.lugar.errors">
                                * Ingrese un dato válido
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-right" for="descripcion">
                            Descripción
                        </label>
                        <div class="col-md-6">
                            <textarea class="form-control" formControlName="descripcion" id="descripcion"
                                      rows="4"></textarea>
                            <div class="text-danger" *ngIf="this.form_enviado && this.form_errors.descripcion.errors">
                                * Ingrese un dato válido
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-danger" (click)="this.modal_registro.hide()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- FIN VENTANA MODAL DE REGISTRO -->


<!-- INICIO VENTANA MODAL DE CARGA -->
<div bsModal #loaderModal="bs-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="false"
     [config]="{backdrop: 'static',keyboard: false}" [style.display]="this.display">
    <!--[config]="{backdrop: 'static',keyboard: false}">-->
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"
             style="background-color: rgba(51, 51, 51, 0.8); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0);">
            <app-loader></app-loader>
        </div>
    </div>
</div>
<!-- FIN VENTANA MODAL DE CARGA -->
