<app-404 *ngIf=!mostrarModulo></app-404>
<div class="animated fadeIn" *ngIf=mostrarModulo>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Prefichas
        </div>
        <div class="card-body">
          <nav>
            <button type="button" class="btn btn-primary" [disabled]="habilitarCorreo"
              (click)="largeModal2.show()">Enviar correo</button>
            <!-- <button type="button" class="btn btn-primary" (click)="leerExcel()">Leer Excel</button> -->
            <ul class="pagination pull-right float-sm-right">
              <li class="page-item {{select1}}"><a class="page-link" style="cursor: pointer"
                  (click)="mostrarRegistros('2')">2</a></li>
              <li class="page-item {{select2}}"><a class="page-link" style="cursor: pointer"
                  (click)="mostrarRegistros('5')">5</a></li>
              <li class="page-item {{select3}}"><a class="page-link" style="cursor: pointer"
                  (click)="mostrarRegistros('10')">10</a></li>
              <li class="page-item {{select4}}"><a class="page-link" style="cursor: pointer"
                  (click)="mostrarRegistros('todos')">Mostrar todos</a></li>
            </ul>
          </nav>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th scope="row">#</th>
                  <th>Preficha</th>
                  <th>CURP</th>
                  <th>Nombre</th>
                  <th>Primer apellido</th>
                  <th>Segundo apellido</th>
                  <th>Correo</th>
                  <th>Fijo</th>
                  <th>Celular</th>
                  <th>Carrera 1</th>
                  <!-- <th>Carrera 2</th> -->
                  <th>Status</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td><input [(ngModel)]="filtroPREFICHA" type="text" class="form-control" (keyup)="buscar()"></td>
                  <td><input [(ngModel)]="filtroCURP" type="text" class="form-control" (keyup)="buscar()"></td>
                  <td><input [(ngModel)]="filtroNOMBRE" type="text" class="form-control" (keyup)="buscar()"></td>
                  <td><input [(ngModel)]="filtroPRIMER_APELLIDO" type="text" class="form-control" (keyup)="buscar()">
                  </td>
                  <td><input [(ngModel)]="filtroSEGUNDO_APELLIDO" type="text" class="form-control" (keyup)="buscar()">
                  </td>
                  <td><input [(ngModel)]="filtroCORREO" type="text" class="form-control" (keyup)="buscar()"></td>
                  <td><input [(ngModel)]="filtroTELEFONO_CASA" type="text" class="form-control" (keyup)="buscar()"></td>
                  <td><input [(ngModel)]="filtroTELEFONO_MOVIL" type="text" class="form-control" (keyup)="buscar()">
                  </td>
                  <td>
                    <select [(ngModel)]="filtroCARRERA1" class="form-control" name="carrera1" (change)="buscar()">
                      <option value="todas">Todas</option>
                      <option *ngFor="let carrera of carreras" value="{{carrera.NOMBRE}}">{{carrera.NOMBRE}}
                    </select>
                  </td>
                  <!-- <td>
                  <select [(ngModel)]="filtroCARRERA2" class="form-control" name="carrera2" (change)="buscar()">
                    <option value="todas">Todas</option>
                    <option *ngFor="let carrera of carreras" value="{{carrera.NOMBRE}}">{{carrera.NOMBRE}}
                  </select>
                </td> -->
                  <td>
                    <select [(ngModel)]="filtroESTATUS" class="form-control" name="estatus" (change)="buscar()">
                      <option value="todos">Todos</option>
                      <option *ngFor="let estatus2 of estatus" value="{{estatus2.NOMBRE}}">{{estatus2.NOMBRE}}
                    </select>
                  </td>
                  <td></td>
                </tr>
                <tr
                  *ngFor="let aspirante of aspirantes | paginate: {itemsPerPage: registrosPagina, currentPage:pageActual} let i = index">
                  <td>{{i+1}}</td>
                  <td>{{aspirante.PREFICHA}}</td>
                  <td>{{aspirante.CURP}}</td>
                  <td>{{aspirante.NOMBRE}}</td>
                  <td>{{aspirante.PRIMER_APELLIDO}}</td>
                  <td>{{aspirante.SEGUNDO_APELLIDO}}</td>
                  <td>{{aspirante.CORREO}}</td>
                  <td>{{aspirante.TELEFONO_CASA}}</td>
                  <td>{{aspirante.TELEFONO_MOVIL}}</td>
                  <td>{{aspirante.CARRERA1}}</td>
                  <!-- <td>{{aspirante.CARRERA2}}</td> -->
                  <td><span class="badge badge-success">{{aspirante.ESTATUS}}</span></td>
                  <td>

                    <div class="row d-flex justify-content-center">
                      <button class="btn btn-primary btn-sm" type="button" (click)="largeModal.show()"
                        style="margin-bottom: 4px" (click)="cargarAspirante(aspirante.PK_USUARIO)">
                        <i class="fa fa-edit"></i>
                      </button>

                      <!--                     <td>{{aspirantes.PREFICHA}}</td>
                    <td>{{aspirantes.FECHA_REGISTRO}}</td>
                    <td>{{aspirantes.NUMERO_PREFICHA}}</td>
                    <td>{{aspirantes.NOMBRE_ESTATUS}}</td>
                    <td>{{aspirantes.FOLIO_CENEVAL}}</td>
                    <td>{{aspirantes.name}}</td>
                    <td>{{aspirantes.PRIMER_APELLIDO}}</td>
                    <td>{{aspirantes.SEGUNDO_APELLIDO}}</td>
                    <td>{{aspirantes.FECHA_NACIMIENTO}}</td>
                    <td>{{FECHA_NACIMIENTO_TEXTO}}</td>
                    <td>{{aspirantes.SEXO}}</td>
                    <td>{{aspirantes.CURP}}</td>
                    <td>{{aspirantes.NOMBRE_ESTADO_CIVIL}}</td>
                    <td>{{aspirantes.CALLE}}</td>
                    <td>{{aspirantes.FK_NUMERO_CODIGO_POSTAL}}</td>
                    <td>{{aspirantes.TELEFONO_CASA}}</td>
                    <td>{{aspirantes.TELEFONO_MOVIL}}</td>
                    <td>{{aspirantes.CORREO1}}</td>
                    <td>{{aspirantes.NOMBRE_CIUDAD}}</td>
                    <td>{{aspirantes.PROMEDIO}}</td>
                    <td>{{aspirantes.ESPECIALIDAD}}</td> -->

                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-center">
            <pagination-controls class="myPagination" previousLabel="" nextLabel="" maxSize="10"
              (pageChange)="pageActual = $event">
            </pagination-controls>

          </div>
          <!--           <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>   -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Aspirante</h4>
        <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th class="w-25">Dato</th>
              <th class="w-75">Informacion</th>
            </tr>
          </thead>
          <tbody *ngFor="let aspirantes of aspirante">
            <tr>
              <td>Preficha</td>
              <td>{{aspirantes.PREFICHA}}</td>
            </tr>
            <tr>
              <td>Año</td>
              <td>{{aspirantes.FECHA_REGISTRO}}</td>
            </tr>
            <tr>
              <td>Número de preficha</td>
              <td>{{aspirantes.NUMERO_PREFICHA}}</td>
            </tr>
            <tr>
              <td>Estatus</td>
              <td>{{aspirantes.NOMBRE_ESTATUS}}</td>
            </tr>
            <tr>
              <td>Folio ceneval</td>
              <td>{{aspirantes.FOLIO_CENEVAL}}</td>
            </tr>
            <tr>
              <td>Nombre</td>
              <td>{{aspirantes.name}}</td>
            </tr>
            <tr>
              <td>Primer apellido</td>
              <td>{{aspirantes.PRIMER_APELLIDO}}</td>
            </tr>
            <tr>
              <td>Segundo apellido</td>
              <td>{{aspirantes.SEGUNDO_APELLIDO}}</td>
            </tr>
            <tr>
              <td>Fecha de nacimiento</td>
              <td>{{aspirantes.FECHA_NACIMIENTO}}</td>
            </tr>
            <tr>
              <td>Fecha de nacimiento</td>
              <td>{{FECHA_NACIMIENTO_TEXTO}}</td>
            </tr>
            <tr>
              <td>Sexo</td>
              <td>{{aspirantes.SEXO}}</td>
            </tr>
            <tr>
              <td>CURP</td>
              <td>{{aspirantes.CURP}}</td>
            </tr>
            <tr>
              <td>Estado civil</td>
              <td>{{aspirantes.NOMBRE_ESTADO_CIVIL}}</td>
            </tr>
            <tr>
              <td>Dirección</td>
              <td>{{aspirantes.CALLE}}</td>
            </tr>
            <tr>
              <td>Codigo postal</td>
              <td>{{aspirantes.FK_NUMERO_CODIGO_POSTAL}}</td>
            </tr>
            <tr>
              <td>Teléfono</td>
              <td><input [(ngModel)]="telefonoCasa" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>Celular</td>
              <td><input [(ngModel)]="telefonoMovil" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>Correo electrónico</td>
              <td><input [(ngModel)]="CORREO1" type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>Municipio</td>
              <td>{{aspirantes.NOMBRE_CIUDAD}}</td>
            </tr>
            <tr>
              <td>Promedio bachillerato</td>
              <td>{{aspirantes.PROMEDIO}}</td>
            </tr>
            <tr>
              <td>Especialidad</td>
              <td>{{aspirantes.ESPECIALIDAD}}</td>
            </tr>
            <tr>
              <td>Carrera 1</td>
              <td>
                <select [(ngModel)]="especialidad1" class="form-control" name="especialidad1">
                  <option *ngFor="let carrera of carreraLista" value="{{carrera.PK_CARRERA}}">{{carrera.NOMBRE}}
                  </option>
                </select>
              </td>
            </tr>
            <!--  <tr>
                  <td>Carrera 2</td>
                  <td>
                    <select [(ngModel)]="especialidad2" class="form-control" name="especialidad2">
                      <option *ngFor="let carrera of carreraLista" value="{{carrera.PK_CARRERA}}">{{carrera.NOMBRE}}
                      </option>
                    </select>
                  </td>
                </tr> -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="modificarAspirante()"
          (click)="largeModal.hide()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<div bsModal #largeModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Correo</h4>
        <button type="button" class="close" (click)="largeModal2.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="text-input">Asunto</label>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="asunto" class="form-control" placeholder="Asunto">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="textarea-input">Mensaje</label>
          <div class="col-md-10">
            <textarea [(ngModel)]="mensaje" rows="9" class="form-control" placeholder="Contenido..."></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="largeModal2.hide()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="enviarCorreo()"
          (click)="largeModal2.hide()">Enviar</button>
      </div>
    </div>
  </div>
</div>