<app-404 *ngIf=!mostrarModulo></app-404>
<div class="animated fadeIn" *ngIf=mostrarModulo>
  <h2 class="">Bienvenido aspirante</h2>
  <hr>
  <!--   <div id="contentToConvert" class="col-md-12 hidden-xs row">
    <ul class="wizard-steps">
      <li class="wizardbar-i completed">
        <h5>Paso 1</h5>
        <span>Registro de preficha</span>
      </li>
      <li class="wizardbar-i {{paso2}}">
        <h5>Paso 2</h5>
        <span>Pago confirmado</span>
      </li>
      <li class="wizardbar-i {{paso3}}">
        <h5>Paso 3</h5>
        <span>Registro en Ceneval</span>
      </li>
      <li class="wizardbar-i {{paso4}}">
        <h5>Paso 4</h5>
        <span>Descarga Ficha</span>
      </li>
      <li class="wizardbar-i {{paso5}}">
        <h5>Paso 5</h5>
        <span>Asistir al examen</span>
      </li>
      <li class="wizardbar-i {{paso6}}">
        <h5>Paso 6</h5>
        <span>Resultados</span>
      </li>
    </ul>
  </div> -->


  <div class="wizard-container">
    <ul class="tab-list">
      <li class="tab-list__item active">
        <a class="tab-list__link" data-toggle="tab">
          <span class="step">1</span>
          <span class="desc">Registro de preficha</span>
        </a>
      </li>
      <li class="tab-list__item {{paso2}}">
        <a class="tab-list__link" data-toggle="tab">
          <span class="step">2</span>
          <span class="desc">Pago confirmado</span>
        </a>
      </li>
      <li class="tab-list__item {{paso3}}">
        <a class="tab-list__link" data-toggle="tab">
          <span class="step">3</span>
          <span class="desc">Registro en Ceneval</span>
        </a>
      </li>
      <li class="tab-list__item {{paso4}}">
        <a class="tab-list__link" data-toggle="tab">
          <span class="step">4</span>
          <span class="desc">Descarga Ficha</span>
        </a>
      </li>
      <li class="tab-list__item {{paso5}}">
        <a class="tab-list__link" data-toggle="tab">
          <span class="step">5</span>
          <span class="desc">Asistir al examen</span>
        </a>
      </li>
      <li class="tab-list__item {{paso6}}">
        <a class="tab-list__link" data-toggle="tab">
          <span class="step">6</span>
          <span class="desc">Resultados</span>
        </a>
      </li>
    </ul>
  </div>

  <hr>

  <div class="col-md-12" *ngIf="habilitarReferencia">
    <div class="clearfix"></div>
    <div class="text-justify h4">
      Para continuar con el proceso, es necesario que descargues
      la referencia bancaria para la realización del pago de tu ficha.
      <br><br>
      Es muy importante que el pago lo realices en efectivo y antes de la
      <u>fecha de vencimiento</u> de tu referencia, la cual aparece en tu recibo de pago.
      <br><br>
      Después de realizar el pago, deberás esperar de 48 a 72 horas hábiles
      para continuar con el siguiente paso.
      <br><br>
      Para descargar el recibo de pago, presiona el botón "Generar referencia" que
      a continuación aparece.
    </div>
    <br>
    <div class="clearfix"></div>
    <div class="text-center">
      <button type="button" class="btn btn-primary btn-lg" (click)="generarReferencia()">Generar referencia</button>
    </div>
    <br>
    <hr>
  </div>


  <div class="col-md-12" *ngIf="habilitarRegistro">
    <!-- ENLCE A PÁGINA DE CENEVAL -->
    <div>
      <div class="h4">
        <p class="text-justify">
          Para continuar con el proceso de ingreso, debes descargar el instructivo
          para que conozcas cómo debes realizar el registro de tus datos en la plataforma de CENEVAL.
          Dicho instructivo se puede descargar presionando el botón "Descargar guía CENEVAL".
        </p>
        <br>
        <div class="text-center">
          <button type="button" class="btn btn-lg btn-primary" (click)="descargarGuiaAspirantes()">
            Descargar guía CENEVAL
          </button>
        </div>

        <br><br>

        <p class="text-justify">
          Una vez que has leído la forma en cómo registrarte, ingresa a la página electrónica de CENEVAL mediante el
          botón
          "Registro CENEVAL" que aparece a continuación, para que realices el registro en línea de tus datos.
        </p>
        <br>
        <p class="text-justify">
          Al finalizar el registro de tus datos en el sistema de CENEVAL debes
          descargar el “PASE DE INGRESO AL EXAMEN”, guarda el archivo PDF en
          tu computadora o memoria y luego realiza una impresión de este documento.
        </p>
        <br>
      </div>
      <div class="text-center">
        <a href="http://registroenlinea.ceneval.edu.mx/RegistroLinea/indexCerrado.php" target="_blank"
          class="btn btn-lg btn-primary">
          Registro CENEVAL
        </a>
      </div>
    </div>
    <br>
    <hr>
  </div>

  <div class="col-md-12" *ngIf="habilitarFicha">
    <div class="h4">
      <p class="text-justify">
        Para continuar con el proceso de admisión, debes imprimir tu ficha oficial para el Examen,
        en la ficha aparece el lugar, fecha y hora en la que deberás presentarte al examen.
        Te sugerimos subir a alguna identificación en la parte de "Documentos" en dado caso de que no la tengas el dia del examen.
      </p>
      <br>
      <p class="text-center">
        Descarga tu ficha oficial desde el siguiente botón.
      </p>
      <br>
      <div class="text-center">
        <button type="button" class="btn btn-lg btn-primary" (click)="generarFicha()">Descargar ficha oficial</button>
      </div>
    </div>
    <br>
    <hr>
  </div>

  <div *ngIf="habilitarResultados">
    <div class="col-md-12" *ngIf="habilitarAceptado">
      <div class="h4">
        <p class="text-center">
          {{mensaje}}
        </p>
        <br>
        <p class="text-center">
          Resultados
          <br>
          Puntaje: {{puntaje}}
          <br>
          Matematicas: {{matematicas}}
        </p>
        <br>
        <div *ngIf="habilitarInscripcion">
          <p class="text-center">
            Descarga tu refenrencia para primer semestre desde el siguiente botón.
          </p>
          <div class="text-center">
            <button type="button" class="btn btn-lg btn-primary" (click)="generarReferenciaInscripcion()">Generar
              referencia de Inscripción</button>
          </div>
          <br>
          <div *ngIf="habilitarCurso">
            <p class="text-center">
              Descarga tu refenrencia para el curso de nivelacion desde el siguiente botón.
            </p>
            <div class="text-center">
              <button type="button" class="btn btn-lg btn-primary" (click)="generarReferenciaCurso()">Generar referencia
                de curso</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <hr>
    </div>

    <div class="col-md-12" *ngIf="habilitarAceptadoCero">
      <div class="h4">
        <p class="text-center">
          {{mensajeCero}}
        </p>
        <br>
        <p class="text-center">
          Resultados
          <br>
          Puntaje: {{puntaje}}
          <br>
          Matematicas: {{matematicas}}
        </p>
        <br>
        <div *ngIf="habilitarInscripcionCero">
          <p class="text-center">
            Descarga tu refenrencia para semestre cero desde el siguiente botón.
          </p>
          <div class="text-center">
            <button type="button" class="btn btn-lg btn-primary" (click)="generarReferenciaInscripcionCero()">Generar
              referencia de Inscripción semestre cero</button>
          </div>
          <br>
        </div>
      </div>
      <br>
      <hr>
    </div>

    <div class="col-md-12" *ngIf="habilitarRechazado">
      <div class="h4">
        <p class="text-center">
          {{mensajeRechazado}}
        </p>
        <br>
        <p class="text-center">
          Resultados
          <br>
          Puntaje: {{puntaje}}
          <br>
          Matematicas: {{matematicas}}
        </p>
      </div>
      <br>
      <hr>
    </div>
  </div>

  <!-- BOTONES COMUNES -->
  <br>
  <br>
  <div class="clearfix"></div>
  <div class="col-md-12" *ngIf="habilitarGuia">
    <div class="text-center">
      <p class="h4">
        Descarga la guía de estudio para el examen CENEVAL desde el siguiente botón.
      </p>
      <br>
      <button type="button" class="btn btn-lg btn-primary" (click)="descargarGuiaExamen()">
        Descargar guía de estudio
      </button>
    </div>
  </div>

</div>