<!-- INICIO CONTENIDO PARA EL PERFIL -->
<h2 class="text-center">Perfil del estudiante</h2>
<div class="row">
    <div class="offset-md-1 col-md-10">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" (click)="volver()">
                    <i class="fa fa-caret-square-o-left"></i>
                    Regresar
                </button>
            </div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="h3">Datos personales</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="NOMBRE">Nombres</label>
                    <input type="text" class="form-control" id="NOMBRE" name="NOMBRE"
                           value="{{this.perfil.NOMBRE}}" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="PRIMER_APELLIDO">Primer apellido</label>
                    <input type="text" class="form-control" id="PRIMER_APELLIDO" name="PRIMER_APELLIDO"
                           value="{{this.perfil.PRIMER_APELLIDO}}" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="SEGUNDO_APELLIDO">Segundo apellido</label>
                    <input type="text" class="form-control" id="SEGUNDO_APELLIDO" name="SEGUNDO_APELLIDO"
                           value="{{this.perfil.SEGUNDO_APELLIDO}}" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CURP">CURP</label>
                    <input type="text" class="form-control" id="CURP" name="CURP"
                           value="{{this.perfil.CURP}}" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="NUMERO_CONTROL">Número de control</label>
                    <input type="text" class="form-control" id="NUMERO_CONTROL" name="NUMERO_CONTROL"
                           value="{{this.perfil.NUMERO_CONTROL}}" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CARRERA">Carrera</label>
                    <input type="text" class="form-control" id="CARRERA" name="CARRERA"
                           value="{{this.perfil.FK_CARRERA}}" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="SEMESTRE">Semestre</label>
                    <input type="text" class="form-control" id="SEMESTRE" name="SEMESTRE"
                           value="{{this.perfil.SEMESTRE}}" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CORREO_INSTITUCIONAL">Correo institucional</label>
                    <input type="text" class="form-control" id="CORREO_INSTITUCIONAL"
                           name="CORREO_INSTITUCIONAL"
                           value="{{this.perfil.CORREO_INSTITUCIONAL}}" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="FECHA_NACIMIENTO">Fecha de nacimiento</label>
                    <input type="date" class="form-control" id="FECHA_NACIMIENTO" name="FECHA_NACIMIENTO"
                           value="{{this.perfil.FECHA_NACIMIENTO}}" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="SEXO">Sexo</label>
                    <input type="text" class="form-control" id="SEXO" name="SEXO"
                           value="{{this.perfil.SEXO}}" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ESTADO_CIVIL">Estado civil</label>
                    <input type="text" class="form-control" id="ESTADO_CIVIL" name="ESTADO_CIVIL"
                           value="{{this.perfil.FK_ESTADO_CIVIL}}" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="SITUACION_RESIDENCIA">Situación de la residencia</label>
                    <input type="text" class="form-control" id="SITUACION_RESIDENCIA"
                           name="SITUACION_RESIDENCIA"
                           value="SITUACION_RESIDENCIA" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CORREO1">Correo personal principal</label>
                    <input type="mail" class="form-control" id="CORREO1" name="CORREO1"
                           value="{{this.perfil.CORREO1}}" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CORREO2">Correo personal optativo</label>
                    <input type="mail" class="form-control" id="CORREO2" name="CORREO2"
                           value="{{this.perfil.CORREO2}}" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="TELEFONO_CASA">Teléfono fijo</label>
                    <input type="text" class="form-control" id="TELEFONO_CASA" name="TELEFONO_CASA"
                           value="{{this.perfil.TELEFONO_CASA}}" readonly>
                    <small id="TELEFONO_CASAHelp" class="form-text text-muted">10 Dígitos</small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="TELEFONO_MOVIL">Teléfono móvil</label>
                    <input type="text" class="form-control" id="TELEFONO_MOVIL" name="TELEFONO_MOVIL"
                           value="{{this.perfil.TELEFONO_MOVIL}}" readonly>
                </div>
            </div>
        </div>

        <hr>
        <div class="col-md-12">
            <div class="h3">Domicilio</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CODIGO_POSTAL">Código postal</label>
                    <input type="text" class="form-control" id="CODIGO_POSTAL" name="CODIGO_POSTAL"
                           value="CODIGO_POSTAL" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ENTIDAD_FEDERATIVA">Entidad federativa</label>
                    <input type="mail" class="form-control" id="ENTIDAD_FEDERATIVA"
                           name="ENTIDAD_FEDERATIVA"
                           value="ENTIDAD_FEDERATIVA" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CIUDAD">Municipio</label>
                    <input type="text" class="form-control" id="CIUDAD" name="CIUDAD"
                           value="CIUDAD" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="COLONIA">Colonia</label>
                    <input type="text" class="form-control" id="COLONIA" name="COLONIA"
                           value="{{this.perfil.FK_COLONIA}}" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="CALLE">Calle</label>
                    <input type="text" class="form-control" id="CALLE" name="CALLE"
                           value="{{this.perfil.CALLE}}" readonly>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="NUMERO_EXTERIOR">Número exterior</label>
                    <input type="mail" class="form-control" id="NUMERO_EXTERIOR" name="NUMERO_EXTERIOR"
                           value="{{this.perfil.NUMERO_EXTERIOR}}" readonly>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="NUMERO_INTERIOR">Número interior</label>
                    <input type="mail" class="form-control" id="NUMERO_INTERIOR" name="NUMERO_INTERIOR"
                           value="{{this.perfil.NUMERO_INTERIOR}}" readonly>
                </div>
            </div>
        </div>

        <hr>
        <div class="col-md-12">
            <div class="h3">Información de contacto en caso de emergencia</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="NOMBRE_CONTACTO">Nombre completo</label>
                    <input type="text" class="form-control" id="NOMBRE_CONTACTO" name="NOMBRE_CONTACTO"
                           value="{{this.perfil.NOMBRE_CONTACTO}}" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="PARENTESCO_CONTACTO">Parentesco</label>
                    <input type="text" class="form-control" id="PARENTESCO_CONTACTO"
                           name="PARENTESCO_CONTACTO"
                           value="{{this.perfil.PARENTESCO_CONTACTO}}" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="TELEFONO_CONTACTO">Teléfono</label>
                    <input type="text" class="form-control" id="TELEFONO_CONTACTO" name="TELEFONO_CONTACTO"
                           value="{{this.perfil.TELEFONO_CONTACTO}}" readonly>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CORREO_CONTACTO">Correo electrónico</label>
                    <input type="mail" class="form-control" id="CORREO_CONTACTO" name="CORREO_CONTACTO"
                           value="{{this.perfil.CORREO_CONTACTO}}" readonly>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>
