<app-404 *ngIf=!mostrarModulo></app-404>
<div class="animated fadeIn" *ngIf=mostrarModulo>
    <div class="row">
        <div class="offset-2 col-md-8">
            <div class="card">
                <div style="text-align: left">
                    <h2 class="card-header">Documento a subir:</h2><br>
                </div>
                <div class="card-body">
                    <div style="text-align: center;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cargar</th>
                                <th>Archivo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Solicitud de residencias</td>
                                <td><label class="btn btn-dark">
                                    Subir<input type="file" name="file" hidden multiple
                                                (change)="uploadFile($event, 1)">
                        </label></td>
                                <td>{{anteproyectosLista[0].SOLICITUD}}</td></tr><tr>
                                <td>Carta de aceptación</td>
                                <td><label class="btn btn-dark">
                                    Subir<input type="file" name="file" hidden multiple
                                                (change)="uploadFile($event, 2)">
                        </label></td>
                        <td>{{anteproyectosLista[0].CARTA_ACEPTACION}}</td>
                    </tr>
                    </tbody>
                </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
