<app-404 *ngIf=!mostrarModulo></app-404>
<div class="animated fadeIn" *ngIf=mostrarModulo>
  <nav>
    <!-- <label class="btn btn-primary" style="cursor:pointer;">Leer Excel
      <input type="file" name="file" hidden accept=".csv, .xls, .xlsx" (change)="onFileChange($event)">
    </label> -->
    <label class="btn btn-primary" style="cursor:pointer;">Imprimir Excel
      <button type="button" (click)="generarExcel()" hidden></button></label>
    <label class="btn btn-primary">
      <select class="btn btn-primary" type="text" [(ngModel)]="periodo" (ngModelChange)="toNumber()">
        <option value="20191">20191</option>
        <option value="20192">20192</option>
        <option value="20201">20201</option>
        <option value="20202">20202</option>
        <option value="20211">20211</option>
        <option value="20212">20212</option>
        <option value="20221">20221</option>
        <option value="20222">20222</option>
        <option value="20231">20231</option>
        <option value="20232">20232</option>
        <option value="20241">20241</option>
      </select>

    </label>
    <!-- <button type="button" class="btn btn-primary" (click)="leerExcel()">Leer Excel</button> -->
    <ul class="pagination pull-right float-sm-right">
      <li class="page-item {{select1}}"><a class="page-link" style="cursor: pointer"
          (click)="mostrarRegistros('2')">2</a></li>
      <li class="page-item {{select2}}"><a class="page-link" style="cursor: pointer"
          (click)="mostrarRegistros('5')">5</a></li>
      <li class="page-item {{select3}}"><a class="page-link" style="cursor: pointer"
          (click)="mostrarRegistros('10')">10</a></li>
      <li class="page-item {{select4}}"><a class="page-link" style="cursor: pointer"
          (click)="mostrarRegistros('todos')">Mostrar todos</a></li>
    </ul>
  </nav>
  <table class="table table-bordered table-striped table-sm">
    <thead>
      <tr>
        <th scope="row">#</th>
        <th>NOMBRE</th>
        <th>PRIMER APELLIDO</th>
        <th>SEGUNDO APELLIDO</th>
        <th>CARRERA</th>
        <th>PERIODO</th>
        <th>VALIDA</th>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let asesor of asesor | paginate: {itemsPerPage: registrosPagina, currentPage:pageActual, id: 'first' } let i = index">
        <td>{{i+1}}</td>
        <td>{{asesor.name}}</td>
        <td>{{asesor.PRIMER_APELLIDO}}</td>
        <td>{{asesor.SEGUNDO_APELLIDO}}</td>
        <td>{{asesor.CLAVE_CARRERA}}</td>
        <td>{{asesor.PERIODO}}</td>
        <td>{{asesor.VALIDA}}</td>
        <td><button class="btn btn-brand btn-sm btn-facebook mr-1" style="margin-bottom: 4px" type="button"
            data-toggle="modal" (click)="smallModal.show()" (click)="datos(asesor.name,asesor.PRIMER_APELLIDO,asesor.SEGUNDO_APELLIDO,asesor.CLAVE_CARRERA,asesor.NUMERO_CONTROL)"><i
              class="fa fa-clock-o"></i></button>
          <button class="btn btn-brand btn-sm btn-flickr mr-1" style="margin-bottom: 4px" type="button"
            data-toggle="modal" (click)="smallModal1.show()"><i
              class="cui-info"></i></button>
        </td>
      </tr>

      <!--               <tr>
                    <td>Zbyněk Phoibos</td>
                    <td>2012/02/01</td>
                    <td>Staff</td>
                    <td>
                      <span class="badge badge-danger">Banned</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Einar Randall</td>
                    <td>2012/02/01</td>
                    <td>Admin</td>
                    <td>
                      <span class="badge badge-secondary">Inactive</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Félix Troels</td>
                    <td>2012/03/01</td>
                    <td>Member</td>
                    <td>
                      <span class="badge badge-warning">Pending</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Aulus Agmundr</td>
                    <td>2012/01/21</td>
                    <td>Staff</td>
                    <td>
                      <span class="badge badge-success">Active</span>
                    </td>
                  </tr> -->
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls id="first" class="myPagination" previousLabel="" nextLabel="" maxSize="10"
      (pageChange)="pageActual = $event">
    </pagination-controls>
  </div>
  <!--           <nav>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>   -->



  <!--/.col-->


</div>

<div bsModal #smallModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">ACTIVIDAD COMPLEMENTARIA </h4>
        <button type="button" class="close" (click)="smallModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="destinatario" class="form-control" placeholder="TÍTULO Y NOMBRE DE A QUIEN SE DIRIJE"
            id="inputControl" autocomplete="destinatario"  [(ngModel)]="form.destinatario" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="suscribe" class="form-control" placeholder="TÍTULO Y NOMBRE SUSCRIBE"
            id="inputControl" autocomplete="suscribe"  [(ngModel)]="form.suscribe" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="estudiante" class="form-control" placeholder="NOMBRE ESTUDIANTE"
            id="inputControl" autocomplete="estudiante"  [(ngModel)]="form.estudiante" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="control" class="form-control" placeholder="NUMERO DE CONTROL"
            id="inputControl" autocomplete="control"  [(ngModel)]="form.control" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="carrera" class="form-control" placeholder="CARRERA"
            id="inputControl" autocomplete="carrera"  [(ngModel)]="form.carrera" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="actividad" class="form-control" placeholder="ACTIVIDAD"
            id="inputControl" autocomplete="actividad"  [(ngModel)]="form.actividad" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="desempeno" class="form-control" placeholder="DESEMPEÑO"
            id="inputControl" autocomplete="desempeno"  [(ngModel)]="form.desempeno" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="valor" class="form-control" placeholder="VALOR"
            id="inputControl" autocomplete="valor"  [(ngModel)]="form.valor" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="periodo" class="form-control" placeholder="PERIODO"
            id="inputControl" autocomplete="periodo"  [(ngModel)]="form.periodo" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="extiende" class="form-control" placeholder="EXTIENDE"
            id="inputControl" autocomplete="extiende"  [(ngModel)]="form.extiende" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="nombre1" class="form-control" placeholder="NOMBRE QUIEN FIRMA PRIMERO"
            id="inputControl" autocomplete="nombre1"  [(ngModel)]="form.nombre1" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="cargo1" class="form-control" placeholder="CARGO QUIEN FIRMA PRIMERO"
            id="inputControl" autocomplete="cargo1"  [(ngModel)]="form.cargo1" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="nombre2" class="form-control" placeholder="NOMBRE QUIEN FIRMA SEGUNDO"
            id="inputControl" autocomplete="nombre2"  [(ngModel)]="form.nombre2" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="cargo2" class="form-control" placeholder="CARGO QUIEN FIRMA SEGUNDO"
            id="inputControl" autocomplete="cargo2"  [(ngModel)]="form.cargo2" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="complementaria()">Genera PDF</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div bsModal #smallModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">SERVICIO SOCIAL</h4>
        <button type="button" class="close" (click)="smallModal1.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="oficio" class="form-control" placeholder="MEMORANDUM No."
            id="inputControl" autocomplete="oficio"  [(ngModel)]="form.oficio" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="asunto" class="form-control" placeholder="ASUNTO"
            id="inputControl" autocomplete="asunto"  [(ngModel)]="form.asunto" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="director" class="form-control" placeholder="TÍTULO Y NOMBRE DIRECTOR"
            id="inputControl" autocomplete="director"  [(ngModel)]="form.director" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="atencion" class="form-control" placeholder="CON ATENCIÓN"
            id="inputControl" autocomplete="atencion"  [(ngModel)]="form.atencion" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="prestador" class="form-control" placeholder="PRESTADOR"
            id="inputControl" autocomplete="prestador"  [(ngModel)]="form.prestador" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="carreraSer" class="form-control" placeholder="CARRERA"
            id="inputControl" autocomplete="carreraSer"  [(ngModel)]="form.carreraSer" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="controlSer" class="form-control" placeholder="NÚMERO DE CONTROL"
            id="inputControl" autocomplete="controlSer"  [(ngModel)]="form.controlSer" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="periodoSer" class="form-control" placeholder="PERIODO"
            id="inputControl" autocomplete="periodoSer"  [(ngModel)]="form.periodoSer" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="caracter" class="form-control" placeholder="CARACTER"
            id="inputControl" autocomplete="caracter"  [(ngModel)]="form.caracter" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="diasmes" class="form-control" placeholder="DÍAS DEL MES"
            id="inputControl" autocomplete="diasmes"  [(ngModel)]="form.diasmes" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-user"></i></span>
          </div>
          <input type="text" name="atentamente" class="form-control" placeholder="ATENTAMENTE"
            id="inputControl" autocomplete="atentamente"  [(ngModel)]="form.atentamente" required>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="servicio()">Genera PDF</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->