<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <h3 class="card-title mb-0">Actividades</h3>
        </div>
<div style="width: 100%"></div>
<hr>
<hr>
<!-- </div style="width: 100%;" *ngIf="showAR; else sinActividadesDisponibles" > -->
<div class="form-group col-sm-12" *ngFor="let actividad of actividades">
  <table class="table table-responsive-sm table-hover table-outline mb-0" style="width:100%;" >
    <thead class="thead-light">
      <tr>
        <th style="width: 50%;" rowspan="2"><h2>{{(actividad.NOMBRE.length>25)? (actividad.NOMBRE | slice:0:23)+'..':(actividad.NOMBRE)}}</h2></th>
            <td style="width: 25%;">Fecha: {{actividad.FECHA}}</td>
            <!-- <td>Registrados: {{actividad.REGISTRADOS}}/{{actividad.CUPO}}</td> -->
            <td style="width: 25%;"><a routerLink="../registro_asistencias/{{actividad.PK_ACTIVIDAD}}">Registrar asistencias</a></td>
        </tr>
        <tr>
            <td style="width: 25%;">Lugar: {{actividad.LUGAR}}</td>
            <td style="width: 25%;"><a routerLink="../detalle_actividad_adm/{{actividad.PK_ACTIVIDAD}}">Ver detalles</a></td>
        </tr>
    </thead>
  </table>
  <br>
</div>
<!-- </div>
<ng-template #sinActividadesDisponibles> <p>No hay actividades designadas</p>  </ng-template> -->
</div>

