<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <h3 class="card-title mb-0">Actividades designadas</h3>
        </div>
<div style="width: 100%"></div>
<hr>
<hr>
<div style="width: 100%;" *ngIf="showAR; else sinActividadesDisponibles" >
<div style="width: 75%;" *ngFor="let actividad of actividades">
  <table class="table table-responsive-sm table-hover table-outline mb-0" style="width:100%;" >
    <thead class="thead-light">
      <tr>
        <th class="text-center" rowspan="2"><h2>{{actividad.NOMBRE}}</h2></th>
            <td style="width: 25%;">Fecha: {{actividad.FECHA}}</td>
            <!-- <td>Registrados: {{actividad.REGISTRADOS}}/{{actividad.CUPO}}</td> -->
            <td><a routerLink="../lista-asistentes-res/{{actividad.PK_ACTIVIDAD}}">Lista de asistentes</a></td>
        </tr>
        <tr>
            <td>Lugar: {{actividad.LUGAR}}</td>
            <td><a routerLink="../detalle-actividad/{{actividad.PK_ACTIVIDAD}}">Ver detalles</a></td>
            <td>Toma de asistencia</td>
        </tr>
    </thead>
  </table>
  <br>
</div>
</div>
<ng-template #sinActividadesDisponibles> <p>No hay actividades designadas</p>  </ng-template>
</div>
