<div class="animated fadeIn" ngFor="let actividad of actividad">
    <div class="card">
      <div class="card-header">
        <H2>{{actividad.NOMBRE}}</H2>
        <div class="card-header-actions">
          <!-- <a href="https://valor-software.com/ngx-bootstrap/#/collapse" target="_blank">
            <small className="text-muted">docs</small>
          </a> -->
        </div>
      </div>
      <div class="card-body">
        <div><p>{{actividad.FECHA}}</p></div>
        <div>
          <p>
          {{actividad.DESCRIPCION}}
          </p>
      </div>
      <div><p>{{actividad.LUGAR}}</p></div>
      <div><p>{{actividad.HORA}}</p></div>
      <div><p>{{actividad.REGISTRADOS}}</p></div>
      </div>
      <div *ngIf="inscrito == false" class="card-footer">
        <a class="btn btn-primary btn-sm" (click)="registrarse(actividad.PK_ACTIVIDAD, actividad.REGISTRADOS, actividad.CUPO)">Inscribirse</a>
      </div>
    </div>
  </div>


