
  <div class="card">
    <div class="card-body">
        <div class="col-sm-5">
            <h3 class="card-title mb-0">Créditos</h3>
            <br>
        </div>

        <!-- <form #buscarForm=ngForm  name="buscarForm"> edicion
            <div class="form-group row">
              <div class="col-md-6">
                <div class="input-group">
                  <div class="input-group-prepend" dropdown>
                    <select [(ngModel)]="opcion_busqueda" (ngModelChange)="onDropdownChange($event)" class="btn btn-primary dropdown-toggle" name="opcion">
                          <option [ngValue]="1">Por alumno</option>
                          <option [ngValue]="2">Por lineamiento</option>
                    </select>
                </div>
                <br>
                 <ng-container *ngIf="opcion_busqueda == 1; else linForm" class="input-group">
                  <input [(ngModel)]="num_control" type="text" class="form-control" id="num_control" name="num_control" placeholder="Numero de control" required>
                  <span class="input-group-append">
                    <button type="submit" class="btn btn-primary" [disabled]="!buscarForm.valid" (click)="getCreditosByNc()"><i class="fa fa-search"></i> Buscar</button>
                  </span>
                </ng-container>
                <ng-template #linForm>
                    <select [(ngModel)]="lin" (ngModelChange)="onDropdownChange1($event)" class="form-control" name="lineamiento" id="lineamiento" required>
                        <option *ngFor="let lineamiento of lineamientos" [ngValue]="lineamiento.PK_LINEAMIENTO" class="form-control">{{lineamiento.NOMBRE}}</option>
                    </select>
                    <span class="input-group-append">
                      <button type="submit" class="btn btn-primary" [disabled]="!buscarForm.valid" (click)="getCreditosByLin()"><i class="fa fa-search"></i> Buscar</button>
                    </span> 
                </ng-template>
                </div>
              </div>
            </div>
            </form> -->
      <div class="row">
        <hr>
  <table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
      <tr>
        <th>Clave crédito</th>
        <th>Lineamiento</th>
        <th>Numero de control</th>
        <th>Primer apellido</th>
        <th>Segundo apellido</th>
        <th>Nombre</th>
        <th>Calificación</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let c of creditos | paginate: {itemsPerPage: 15, currentPage: pageActual}">
      <tr> 
        <td>
          <div>{{c.PK_ALUMNO_CREDITO}}</div>
        </td>
<!--         <td>
            <i (click)="desglosar(c.PK_ALUMNO_CREDITO)" class="cui-sort-descending icons font-2xl d-block mt-4"></i>
            <div>Desglosar</div>
        </td> -->
        <td>
          <div>{{c.NOMBRE}}</div>   
        </td>
        <td>
          <div>{{c.NUMERO_CONTROL}}</div>   
      </td>
        <td>
          <div>{{c.PRIMER_APELLIDO}}</div>
        </td>
        <td>
          <div>{{c.SEGUNDO_APELLIDO}}</div>   
        </td>
        <td>
            <div>{{c.name}}</div>   
         </td>
        <td>
            <div>{{c.CALIFICACION}}</div>   
        </td>
        <!-- <form #validarForm=ngForm  name="validarForm">  -->     
        <td>
            <!-- <input class="form-check-input" type="checkbox" value="option1" id="checkbox1"> -->
            <button type="button" class="btn btn-block btn-success" (click)="openDialog(c.PK_ALUMNO_CREDITO)">Generar Constancia</button>  
        </td>
<!--         <td>
           <ng-container *ngIf="check == 1 && checkId == c.PK_ALUMNO_CREDITO; else botonDis">
            <button type="submit" class="btn btn-block btn-success" (click)="validarCreditos(c.PK_ALUMNO_CREDITO)">Validar</button>        
           </ng-container>
           <ng-template #botonDis>
            <button type="button" class="btn btn-block btn-success" disabled>Validar</button>  
           </ng-template>
        </td> -->
      </tr>
<!--       <ng-container *ngIf="desglosarShow == 1 && id ==  c.PK_ALUMNO_CREDITO">
      <tr class="thead-light"> 
        <th>Clave de actividad</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th></th>
      </tr>
      <tr *ngFor="let a of actividades">
        <td>{{a.PK_ACTIVIDAD}}</td>
        <td>{{(a.NOMBRE.length>25)? (a.NOMBRE | slice:0:23)+'..':(a.NOMBRE)}}</td>
        <td>{{a.FECHA}}</td>
        <td><a routerLink="../detalle_actividad_adm/{{a.PK_ACTIVIDAD}}">ver detalles</a></td>
      </tr>
      </ng-container>-->
      </ng-container> 
    </tbody>
  </table>
  <div>
  <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
</div>
</div>
</div>
</div> 

