<div class="card">
  <div class="card-header">
    <strong>{{titulo}}</strong>
    <small>Form</small>
  </div>
  <div class="card-body">
    <form #actividadesForm=ngForm (ngSubmit)="saveActividad()">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input [(ngModel)]="actividad.NOMBRE" type="text" class="form-control" name ="nombre" id="nombre" placeholder="Ingresa el nombre de la actividad" required>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Descripcion</label>
          <input [(ngModel)]="actividad.DESCRIPCION" type="text"  class="form-control" name="descrpcion" id="descripcion" placeholder="Ingresa la descripcion de la actividad" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Lugar</label>
          <input [(ngModel)]="actividad.LUGAR" type="text" class="form-control" name="lugar" id="Lugar" placeholder="Ingresa el lugar de la actividad" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Fecha</label>
          <input [ngModel]="actividad.FECHA | date:'yyyy-MM-dd' : 'UTC'" type="date" class="form-control" name="fecha" id="fecha" placeholder="Ingresa la fecha de la actividad" required>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Hora</label>
          <input [(ngModel)]="actividad.HORA" type="text" class="form-control" name="hora" id="hora" placeholder="Ingresa la hora de la actividad" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Cupo</label>
          <input [(ngModel)]="actividad.CUPO" type="number" class="form-control" name="cupo" id="cupo" placeholder="Ingresael cupo de la actividad" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Lineamiento</label>
          <select [(ngModel)]="actividad.FK_LINEAMIENTO" (ngModelChange)="onDropdownChange($event)" class="form-control" name="lineamiento" id="lineamiento" required>
            <option *ngFor="let lineamiento of lineamientos" [ngValue]="lineamiento.PK_LINEAMIENTO" [selected]="actividad.FK_LINEAMIENTO" class="form-control">{{lineamiento.NOMBRE}}</option>
            
          </select>
          <!-- <input [(ngModel)]="actividad.FK_LINEAMIENTO" type="text" class="form-control" name="lineamiento" id="lineamiento" placeholder="Ingresa el lineamiento de la actividad" required> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Tipo</label>
          <select [(ngModel)]="actividad.FK_TIPO" (ngModelChange)="onDropdownChange1($event)" class="form-control" name="tipo" id="tipo" required>
            <option *ngFor="let tipo of tipos"  ng-selected="actividad.FK_TIPO == tipo.PK_TIPO" [ngValue]="tipo.PK_TIPO"  class="form-control">{{tipo.NOMBRE}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Responsable</label>
          <select [(ngModel)]="actividad.FK_RESPONSABLE" (ngModelChange)="onDropdownChange2($event)" class="form-control" name="responsable" id="responsable" required>
            <option *ngFor="let res of responsables" [ngValue]="res.PK_USUARIO" [selected]="res.NOMBRE" class="form-control">{{res.NOMBRE}}</option>
          </select>

        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-sm" [disabled]="!actividadesForm.valid" ><i class="fa fa-dot-circle-o"></i> Registrar</button>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>